@charset "UTF-8";
/* 
* hui theme
*
* Author: Derek Scott @huement
*
* Skin Version: hui light
* Date: FEB/1/2013
*
*
*/

/* -------   hui BROWSER STANDARIZATION & Basic Setup  ------- */

/* 
* BASE CSS
* http://hui.huement.com/docs/#base
*
* !!!!!!! REQUIRED !!!!!!!
*
* Development (not the fastest, easier for development):
*
*   CDN: @import url("https://huementui.s3.amazonaws.com/cdn/hui-base.css");
*   
*   LOCAL: @import url("dist/hui-base.css");

* Production (minfy and go live): 
*
*  Paste contents of "dist/hui-base-min.css" here.
*  
*  or add <link href="dist/hui-base-min.css" type="text/css" rel="stylesheet"/> to <head>
*   NOTE: if you do this the BASE FILE must come BEFORE the THEME.
*
*/

/* @import url("https://huementui.s3.amazonaws.com/cdn/hui-base.css"); */

/* --------------- Basic UI And Optional Widget Themes -------------------- */
/* 
* file structure similiar to hui.js
* 
* [S01] Basic Theme Colors (typograghy action buttons links etc)
* [S02] Notefy glass theme
* [S03] Pre Code Tables
* [S04] FaceBox
* [S05] TipTip black theme
* [S06] Extra CSS3 Effects (cards, extra styles)
* [S07] Accordions
* [S08] Navigation & List Views
*
*
*/
/************************************************ [S01] Theme Colors */
/* Theme Fonts */
body {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1em;
 line-height: 1.5em;
 color: #0d0d0d;
 background-color: #ffffff;
}


a {
	color:#1CB1EC;font-weight:bold;
}
.tC {
 text-align:center;
 padding:1px;
 margin-left:auto;
 margin-right:auto;
}

.page-header {
padding: 5px 0 9px 10px;
margin: 20px 0 30px;
border-bottom: 1px solid #B1B1B1;
}

p {
 border:none;
 font-family:Verdana, Geneva, sans-serif;
 font-size:15px;
 padding:5x 0 0 5px;
 line-height:18px;
}
/* footnote */
.fnote {
	color: #666 !important;
	padding:5px !important;
	margin:0 !important;
	background: transparent !important;
	background-color: transparent !important;
	text-align: left !important;
	width: 95%;
	font-size: .98em;
	line-height: 1.5em;
}

.color {text-decoration: none;}
a.color:hover,a.color:active,a.color {text-decoration: none;font-size:1.1em;}

/* Text Color Classes */
.redText {color: #F00;} 
.orangeText {color: #F60;} 
.yellowText {color: #FF0;} 
.greenText {color: #0C0;} 
.blueText {color: #06F;} 
.purpleText {color: #FA0096;} 
.whiteText {color: #FFFFFF;} 
.blackText {color: #000000;}

/* Complimentary Color / Effects */
a.redText:hover {color:#C40000}
a.orangeText:hover {color: #FF7913;} 
a.yellowText:hover {color: #FFB412;} 
a.greenText:hover {color: #00AD0E;} 
a.blueText:hover {color: #09F;} 
a.purpleText:hover {color: #9D16D3;} 
a.whiteText:hover {color: #999999;} 
a.blackText:hover {color: #666666;}

/* Background Color Classes */
.redb {background-color: #F00;} .orangeb {background-color: #F60;} 
.yellowb {background-color: #FF0;} .greenb {background-color: #0C0;} 
.blueb {background-color: #06F;} .purpleb {background-color: #5C00FA;} 
.whiteb {background-color: #FFFFFF;} .blackb {background-color: #000000;}
/* lithium style */
.greyb, .grayb {
 background: #f6f6f6;
}
.greyb, .grayb p {
 color: #333;
}
.greyb a { color:#25A1F3; }
.greyb a:hover, .container p a:hover{ color:#00B7FF; }

/* Tegan Sara Taylor Lists */
.Tegan.style {
	border:1px solid #969696;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.Tegan.style li:nth-child(1n), .Tegan.Sara.style li:nth-child(1n)  { background: #f7f7f7;background-color: #f7f7f7; }

.Tegan.style li:nth-child(2n),.Tegan.Sara.style li:nth-child(2n) {background: #e7e7e7;background-color: #e7e7e7;}

.horizontalNav-processed li a {
 padding:0;
}

.horizontalNav-processed li:hover a {
 color:#FFF;
}
input[type=submit] {
 display: block;
 font-weight: bold;
 font-size: 1.25em;
 background-color:#f5f5f5;
 border-color: #e6e6e6;
 color: #999;
 padding: .5em 1em;
 margin: 0;
 background-color: white;
 border: 1px solid #e5e5e5;
 text-decoration: none;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
 -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
 box-shadow: 0 0 6px rgba(0,0,0,.1);
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
 border-color: #0099FF;
 outline: none;
 color:#FFFFFF;
 background: #616161;
}
form {
 padding: 0 .5em;
 margin: .25em 0 .25em .5em;
 background: #FAFAFA;
 color: #999;
}

.shadow {
 -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.10);
 -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.10);
 box-shadow: 2px 2px 5px rgba(0,0,0,.10);
}

button, .button {
 background:#f7f7f7;
 border-color:#999;
}
button .label, .button .label { color:#666}
button:hover, 
.button:hover {
 background: #E7E7E7;
 border-color: #666;
}
button:hover .label, 
.button:hover .label {
 color:#000;
}

.huicon, .ddm span.icon, 
button span.icon, 
.button span.icon {
 background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-gray.png");
}
.ddm:hover span.icon, 
button:hover span.icon, 
.button:hover span.icon {
 background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-li3.png");
}

@media only screen and (max-width : 777px) {
 button,
 .button {
  font-size: .95em;
  padding: .3em .31em;
  margin: 5px;
 }
} 
/* White or Li3 style Button
---------------------------------------------- */
button.white,
button.white:link,
button.white:visited,
button.white:hover,
button.white:active,
button.li3,
button.li3:link,
button.li3:visited,
button.li3:hover,
button.li3:active {
 height:100% !important;
 display: block;
 float: right;
 font-weight: bold;
 font-size: 1.25em;
 background-color:#f5f5f5;
 border-color: #e6e6e6;
 color: #999;
 padding: .5em 1em;
 margin: 0;
 background-color: white;
 border: 1px solid #e5e5e5;
 text-decoration: none;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 -moz-box-shadow: 0 0 6px rgba(0,0,0,.1);
 -webkit-box-shadow: 0 0 6px rgba(0,0,0,.1);
 box-shadow: 0 0 6px rgba(0,0,0,.1);
}
button.white:hover,
button.white:active,
button.li3:hover,
button.li3:active {
 color: black;
 background: white;
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.15);
 box-shadow: inset 0 0 6px rgba(0,0,0,.15);
}
 position: relative;
 top: 1px;
 color: #999;
 background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
 background: -moz-linear-gradient(top,  #ededed,  #fff);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* MAC STYLE
*******************************************************************************/
button.MAC {
 background: #eee;background: -moz-linear-gradient(0% 100% 90deg, #ccc, #eee);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));border: 1px solid #ccc;border-bottom: 1px solid #bbb;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;color: #333;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;font-weight: bold;line-height: 1em;height:40px !important;
text-align: center;text-shadow: 0 1px 0 #eee;text-decoration:none;
width:100%;font-size:2em;padding:5px 10px 5px 10px;
}
button.MAC:hover {
 background: #ddd;background: -moz-linear-gradient(0% 100% 90deg, #bbb, #ddd);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));border: 1px solid #bbb;border-bottom: 1px solid #999;cursor: pointer;text-shadow: 0 1px 0 #ddd;text-decoration:none;
}
button.MAC:active {
 border: 1px solid #aaa;border-bottom: 1px solid #888;-moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;-webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;text-decoration:none;
}

/* Lucky You!
*******************************************************************************/
button.lucky {
  background: #7be02e;
  background: -moz-linear-gradient(0% 100% 90deg,#54be04, #7be02e);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7be02e), to(#54be04));
  border: 1px solid #54be04;
  border-bottom: 1px solid #57ae13;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #93df58;
  -webkit-box-shadow: inset 0 1px 0 0 #93df58;
  box-shadow: inset 0 1px 0 0 #93df58;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: .45em;
  padding: 8px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  min-width:150px;
  height:40px !important;
}
button.lucky:hover {
  background: #76b347;
  background: -moz-linear-gradient(0% 100% 90deg,#5ea428, #86e43f);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86e43f), to(#5ea428));
  -moz-box-shadow: inset 0 1px 0 0 #81c84c;
  -webkit-box-shadow: inset 0 1px 0 0 #81c84c;
  box-shadow: inset 0 1px 0 0 #81c84c;
  cursor: pointer;
}
button.lucky:active {
  border: 1px solid #6bf005;
 color:#e7e7e7;
  border-bottom: 1px solid #4fa40e;
  -moz-box-shadow: inset 0 0 8px 4px #4fa30f, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #4fa30f, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #4fa30f, 0 1px 0 0 #eee;
}

/* iTunes STYLE
*******************************************************************************/
button.iTunes {
  background: #a5b8da;
  text-decoration:none;
  background: -moz-linear-gradient(0% 100% 90deg, #7089b3, #a5b8da);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a5b8da), to(#7089b3));
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  padding:8px 20px 8px 20px;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
  min-width:150px;
 height:40px !important;
}
button.iTunes:hover {
  background: #9badcc;
  text-decoration:none;
  background: -moz-linear-gradient(0% 100% 90deg, #687fa6, #9badcc);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9badcc), to(#687fa6));
  border-top: 1px solid #6d86ad;
  border-right: 1px solid #647a9e;
  border-bottom: 1px solid #546685;
  border-left: 1px solid #647a9e;
  -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
  -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
  box-shadow: inset 0 1px 0 0 #a5b9d9;
  cursor: pointer;
  color: #fbfbfb;
 
}
button.iTunes:active {
  border: 1px solid #546685;
  text-decoration:none;
  -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eee;
  color: #f3f3f3;
}

/*black
*******************************************************************************/
button.black {
 background: #111;
 text-decoration:none;
 background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
 rgba(0, 0, 0, 0.9) 0%,
 rgba(20, 20, 20, 0.9) 50%,
 rgba(30, 30, 30, 0.9) 50%,
 rgba(50, 50, 50, 0.9) 100%);
 background: -webkit-gradient(linear, 0 0, 0 100%,
 color-stop(0, rgba(50, 50, 50, 0.9)),
 color-stop(0.5, rgba(30, 30, 30, 0.9)),
 color-stop(0.5, rgba(20, 20, 20, 0.9)),
 color-stop(1, rgba(0, 0, 0, 0.9)));
 border: 0;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 -moz-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
 -webkit-box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
 box-shadow: inset 1px 1px 1px 0px rgba(135, 135, 135, 0.1), inset -1px -1px 1px 0px rgba(135, 135, 135, 0.1);
 color:#ffffff !important;
 font-family: "helvetica neue", helvetica, arial, sans-serif;
 font-size: 2em;
 font-weight:bold;
 text-align:center;
 line-height: .25em;
 padding: 12px;
 text-shadow: 0px -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(255, 255, 255, 0.3);
 min-width:150px;
 height:40px !important;
}
button.black:hover {
 background: #222;
 text-decoration:none;
 background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
 rgba(20, 20, 20, 0.9) 0%,
 rgba(40, 40, 40, 0.9) 50%,
 rgba(50, 50, 50, 0.9) 50%,
 rgba(70, 70, 70, 0.9) 100%);
 background: -webkit-gradient(linear, 0 0, 0 100%,
 color-stop(0, rgba(70, 70, 70, 0.9)),
 color-stop(0.5, rgba(50, 50, 50, 0.9)),
 color-stop(0.5, rgba(40, 40, 40, 0.9)),
 color-stop(1, rgba(20, 20, 20, 0.9)));
 cursor: pointer;
}
button.black:active {
 background: #000;
 background: -moz-linear-gradient(0% 100% 90deg, #FFFFFF, #000000,
 rgba(0, 0, 0, 0.9) 0%,
 rgba(10, 10, 10, 0.9) 50%,
 rgba(20, 20, 20, 0.9) 50%,
 rgba(30, 30, 30, 0.9) 100%);
 background: -webkit-gradient(linear, 0 0, 0 100%,
 color-stop(0, rgba(30, 30, 30, 0.9)),
 color-stop(0.5, rgba(20, 20, 20, 0.9)),
 color-stop(0.5, rgba(10, 10, 10, 0.9)),
 color-stop(1, rgba(0, 0, 0, 0.9)));
}

/*red
*******************************************************************************/
button.cherry {
  background: #c63929;
  background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  border: 1px solid #951100;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: .45em;
  padding: 12px;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
 min-width:150px;
 height:40px !important;
}
button.cherry:hover {
  background: #cb0500;
  background: -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
  cursor: pointer;
  color: #fbfbfb;
}
button.cherry:active {
  background: #b30300;
  background: -moz-linear-gradient(0% 100% 90deg, #700d00 0%, #9c1500 50%, #ad3224 50%, #d43c28 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  color: #333333;
}

/*orange
*******************************************************************************/
button.orange {
  background: #fd7412;
  background: -moz-linear-gradient(0% 100% 90deg, #cc4700 0%, #cc4700 50%, #fd7412 50%, #fd7412 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#fd7412), to(#cc4700));
  border: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fcfcfc;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size:2em;
  font-weight: bold;
  line-height: .45em;
  padding: 10px;
  text-align: center;
  text-shadow: 0px -1px 1px #a64767;
  min-width:150px;
 height:40px !important;
}
button.orange:hover {
  background: #ff852e;
  background: -moz-linear-gradient(0% 100% 90deg, #c54c20 0%, #c54c20 50%, #ff852e 50%, #ff852e 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#ff852e), to(#c54c20));
  cursor: pointer;
  color:#FFFFFF;
}
button.orange:active {
  background: #e13f05;
  color:#B3ADAD;
  background: -moz-linear-gradient(0% 100% 90deg, #9b2c03 0%, #9b2c03 50%, #e13f05 50%, #e13f05 100%);
  background: -webkit-gradient(linear, 0% 50%, 0% 51%, from(#e13f05), to(#9b2c03));
}

/************************************************ [S02] notefy theme */

div.jGrowl div.jGrowl-notification {
color:   #FFFFFF;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
border: 1px solid #3d3d3d;
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
}

div.jGrowl div.jGrowl-closer {
 background-color:   #000;
 color:  #FFF;
 opacity:  .85;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
 filter:  progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
 -moz-border-radius:  3px;
 -webkit-border-radius: 3px;
}

/* mobile theme */
@media screen and (max-width: 767px) {
 
 div.jGrowl div.jGrowl-closer{
  opacity:.95;
  -ms-filter:"alpha(opacity=95)";
  filter:alpha(opacity=95);zoom:1;
 }

 div.jGrowl div.jGrowl-notification {
 border:1px solid #424441;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 border-radius:3px;
 opacity:.85;
 -ms-filter:"alpha(opacity=85)";
 filter:alpha(opacity=85);

 background:#45484d;
 background:-moz-linear-gradient(top,#45484d 0,#000 100%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#45484d),color-stop(100%,#000));
 background:-webkit-linear-gradient(top,#45484d 0,#000 100%);background:-o-linear-gradient(top,#45484d 0,#000 100%);
 background:-ms-linear-gradient(top,#45484d 0,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d',endColorstr='#000000',GradientType=0);
 background:linear-gradient(top,#45484d 0,#000 100%);-moz-border-radius:0;-webkit-border-radius:0;opacity:.90;filter:alpha(opacity = 90);
 width:100%;
 height:113px;
 text-shadow:none;
 color:#fff;
 }

}
/************************************************ [S03] Styled Forms, Tables, Dynamic Data */

pre {
 color: white;
 background: #141414;
 border: 3px solid #E6E6E6;
 -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.15);
 -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.15);
 box-shadow: 2px 2px 12px rgba(0,0,0,.15);
}

code {
 color: white;
 background: #f4f4f4;
 color: #666;
 border: 1px solid white;
}

a code {
 background: transparent;
 border: 0;
}
a:hover code {
 color: inherit;
}
.fixed {
 font-family: Monaco, Courier, monospace !important;
 font-weight: normal;
 font-size: 0.85em;
 white-space: pre;
 color:#2d2d2d;
}


/*--- Forms ---*/
form {
 display: block;
 clear: both;
 
 padding: 1em 2em 2em 2em;
 
}
fieldset {
 padding: 2em;
 margin: 0 0 1em 0;
 border: 1px solid #e6e6e6;
 background: #f3f3f3;
}
legend {
 padding: .5em 1em;
 border: 1px solid #e6e6e6;
 background: #fff;
 font-size: 22px;
}
label {
 padding: 0 1em 0 0;
 color: #454545;
 font-weight: normal;
}
select {
 clear: both;
 display: block;
 margin: .5em 0 1em 0;
}

/*--- Misc ---*/
sup, sub {
 color: #666;
 font-size: .65em;
}
acronym {
 font-weight: bold;
 font-style: italic;
 color: #333;
}
abbr {
 color: #333;
}

blockquote {
 padding: 0.15em .5em;
 margin: 0.5em 0;
 font-size: 2em;
 color: #666;
 display: block;
 font-style: italic;
}

blockquote:before, blockquote:after {
 display: inline;
 color: #e5e5e5;
 font-size: 3em;
 position: relative;
 top: 0.25em;
 left: -0.1em;
}

blockquote:before {
 content: '\D \201C';
}

blockquote:after {
 content: '\201D';
}

/*--- Table ---*/
table.theme tr th, table.theme th {
	background-color:#B1B1B1;
	color:#333333;
	text-shadow:-1px -1px 1px #ccc;
}
table.theme th {
	background-color: #BEBEBE;
}
table.theme th:hover {
	background-color:#A7A7A7;
	background:#A7A7A7;
	color:#080808;
}

table.theme th {
	text-align: left;
	padding: 0px 0 0 5px;
	font-weight:bold;
	line-height:2em;
	background-color: #BEBEBE;
	text-shadow:none;
	color:#111111;
}

table.theme th:hover {
	background-color:#A7A7A7;
	background:#A7A7A7;
	color:#C20000;
}

table.theme tbody td {
	color: #3f3f3f;
	padding: 2px;
}
table.theme .even, table.theme tr:nth-child(even) {
	background-color: #E4E4E4;
	background: #E4E4E4;
}
table.theme .odd, table.theme tr:nth-child(odd) {
	background-color: #F1F1F1;
	background: #F1F1F1;
	color:#2d2d2d;
}

table .sorting-box {
	/* default affected */
	background-color: #BEBEBE;
}
table .sorting-asc {
	background-color: #0F8000!important;
	background: #0F8000!important;
	color:#f7f7f7!important;
}
table .sorting-desc {
	background-color: #C20000!important;
	background: #C20000!important;
	color:#f7f7f7!important;
}
table.style {
 border: 1px solid #e6e6e6;
}

table.style th {
 padding: .5em  1em;
 color: black;
 background: #e6e6e6;
 font-weight: normal;
}

table.style th, table.style td {
 border-bottom: 1px solid rgba(0,0,0,.05);
}

.style td {
 padding: 6px 8px;
 background: #e6e6e6;
 width: 35%;
 text-align: left;
 white-space: nowrap;
}

table.style {
 border: 1px solid #e6e6e6;
 border-collapse: collapse;
 clear: both;
 width: 100%;
 border-spacing: 0;
 background: #fafafa;
 margin: 12px 0;
 font-size: 13px; 
line-height: 18px;
 margin: 0 0 20px 0;
 border-left: 1px solid #e0e0e0;
}

table.style th {
 padding: .5em  1em;
 color: black;
 background: #e6e6e6;
 font-weight: normal;
}
table.style th, table.style td {
 border-bottom: 1px solid rgba(0,0,0,.05);
}

.style td {
 text-align: left;
 white-space: nowrap;
 padding: 6px 8px;
 background: #e6e6e6;
 width: 35%;
}

.style td, .style th {
 padding: .25em 1em;
 border: 1px solid #e6e6e6;
 vertical-align: middle;
 text-align: left;
 font-weight: normal;
 color: #666;
 font-size: 0.85em;
}
.style tr:nth-child(even) {
 background: #fff;
}
.style thead th, .style tfoot td {
 background: #f3f3f3;
 color: #333;
 text-align: left;
 font-size: 1em;
 font-weight: bold;
 padding: .5em .75em;
}
table.style tr th, table.style tr td {
 padding: 10px 14px;
 text-align: left;
}
table.style tr th {
 background-color: #303030;
 color: #fff;
 border-right: 1px solid rgba(255,255,255, 0.15);
 /* Text Shadow */
 text-shadow: 0 -1px 1px rgba(0,0,0, 0.25);
 /* Gradient */
 background-image: linear-gradient(bottom, rgb(48,48,48) 0%, rgb(95,95,95) 100%);
 background-image: -o-linear-gradient(bottom, rgb(48,48,48) 0%, rgb(95,95,95) 100%);
 background-image: -moz-linear-gradient(bottom, rgb(48,48,48) 0%, rgb(95,95,95) 100%);
 background-image: -webkit-linear-gradient(bottom, rgb(48,48,48) 0%, rgb(95,95,95) 100%);
 background-image: -ms-linear-gradient(bottom, rgb(48,48,48) 0%, rgb(95,95,95) 100%);
 background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(48,48,48)),
  color-stop(1, rgb(95,95,95))
 );
}
table.style tr td {
 border-right: 1px solid #e0e0e0;
 border-bottom: 1px solid #e0e0e0;
}

/************************************************ [S04] FaceBox Modal [subtle theme] */

#facebox h1, #facebox h2 {
	text-shadow:-1px -1px 1px #e0e0e0;
	font-weight:bold;
	color:#1b1b1b;
}

#facebox .popup {
 
  color: #1b1b1b;
  background:#f7f7f7;
  border: 2px #555555 solid ;
 
  -moz-box-shadow: 2px 2px 8px rgba(0,0,0,.15);
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 8px rgba(0,0,0,.15);

} 

#facebox .content {
  background: #f7f7f7;
}
#facebox .content p {
 color: #0d0d0d;
}
#facebox .content a {
 color: #0098DF;
}

.facebox_overlayBG {
  background-color: #000000;
  z-index: 99;
}
/************************************************ [S05] TipTip black theme */
/* TipTip CSS - Version 1.2 */
#tiptip_holder { display: none; position: absolute; top: 0; left: 0; z-index: 99999; }

#tiptip_holder.tip_top { padding-bottom: 5px; }

#tiptip_holder.tip_bottom { padding-top: 5px; }

#tiptip_holder.tip_right { padding-left: 5px; }

#tiptip_holder.tip_left { padding-right: 5px; }

#tiptip_content {
 font-size: 14px;
 color: #F7F7F7;
 padding: .5em 1em;
 margin: 0;
 background-color:#141414;
 border: 1px solid #e6e6e6;
 text-decoration: none;
 -moz-border-radius: 2px;
 border-radius: 2px;
}

#tiptip_arrow, #tiptip_arrow_inner {
 position: absolute;
 border-color: transparent;
 border-style: solid;
 border-width: 6px;
 height: 0;
 width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
 border-top-color: #fff;
 border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
 border-bottom-color: #fff;
 border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
 border-right-color: #fff;
 border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
 border-left-color: #fff;
 border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
 margin-top: -7px;
 margin-left: -6px;
 border-top-color: rgb(25,25,25);
 border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
 margin-top: -5px;
 margin-left: -6px;
 border-bottom-color: rgb(25,25,25);
 border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
 margin-top: -6px;
 margin-left: -5px;
 border-right-color: rgb(25,25,25);
 border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
 margin-top: -6px;
 margin-left: -7px;
 border-left-color: rgb(25,25,25);
 border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 #tiptip_content {
  padding: 4px 8px 5px 8px;
  background-color: rgba(45,45,45,0.88);
 }
 #tiptip_holder.tip_bottom #tiptip_arrow_inner { 
  border-bottom-color: rgba(45,45,45,0.88);
 }
 #tiptip_holder.tip_top #tiptip_arrow_inner { 
  border-top-color: rgba(20,20,20,0.92);
 }
}
/************************************************ [S06] Extra CSS3 Effects */

/* animation properties
*************************************/
button.orange,button.cherry,button.black,button.iTunes,button.lucky,button.MAC,button.white {
 -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 -o-transition: all 0.25s ease-in-out;
}

/* Random CSS styles
*******************************/
/* Fun Fonts Styling and img padding */
.plain { text-align: left;font-size:1.2em;
font-family: futura, 'gill sans', verdana, helvetica, arial;}

.glass {
   /*width: 100px;
   height: 100px;*/
   margin: 10px;
   padding: 5px;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px 10px 2px 2px;
   -moz-border-radius: 10px 10px 2px 2px;
   background: rgba(0,0,0,0.25);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.card {
background: #F6F6F6;
background-color: #F6F6F6;
border: 1px solid #E6E6E6;
width: 95%;
margin: 5px auto 5px auto;
display: block;
position: relative;
padding-left: 10px;
padding-right: 10px;
}
.card p {
	padding:5px;line-height:1.6em;font-size:1.2em;color:#666666;
}
.card a {
	color:#06e0ff;
}
.card a:hover, .card a:active, .card a:visited {
	color:#eb2aee!important;
}

/* Text Effects */
.dropShadow {
 color:#555;
 font-size:2.6em;
 margin:20px 30px 0 20px;
 text-decoration:none;
 text-transform: uppercase;
 font-family:Verdana, Geneva, sans-serif;
 text-shadow: -1px 1px 1px #999;
 font-weight:bold;
 text-align:left;
}

.textShadow {
 text-shadow: 1px -1px 1px rgba(0, 0, 0, .8);
 font-family: futura, 'gill sans', verdana, helvetica, arial;
 font-weight: bold;
 text-transform: uppercase;
}

/* CSS CORNERS Shadows or Both
*********************************/
.shadow {
-moz-box-shadow: 2px 2px 4px #111;
-webkit-box-shadow: 2px 2px 4px #111;
box-shadow: 2px 2px 4px #111;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111');
}

.round { -moz-border-radius: 3px; border-radius: 3px; }

.shadowRound{
padding:5px;-moz-border-radius: 5px;border-radius: 5px;
-moz-box-shadow: 2px 2px 4px #111;
-webkit-box-shadow: 2px 2px 4px #111;
box-shadow: 2px 2px 4px #111;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#111111');
}

/****************************** [S07] Accordion flapper girl nav menu ***********************************/
.flapperStage {
min-width: 230px;
width:98%;
margin: 10px 0px 50px 0px;
padding: 4px 5px 4px 3px;
border: 1px solid #C5C5C5;
border-radius:3px;
position: relative;
background-color:#E6E6E8;
}

.flapperStage .speakEasy {
width: 100%;
background: white;
border: 1px solid #C2C2C2;
font: bold 14px/1.5em;
}

.flapperStage .speakEasy ul {
margin: 0;
padding: 0;
list-style-type: none; }

.flapperStage .speakEasy ul li {
font-size: 1em;
padding: 5px 0px 5px 0;
width:100%;
margin:0;
color: #666;
text-indent:25px;
border-bottom: 2px solid #E6E6E6;
position: relative;
line-height:1em;
}

.title_bar, .title_bar:hover {
padding: 10px 0px 10px 0 !important;
margin-left:0 !important;
text-align:center;
background-color:#D1D1D1;
color:#999; !important;
font-weight:bold;
text-shadow:none;
}
.title_bar:hover {
 background-color:#f0f0f0;
}
.flapperStage .speakEasy ul li:hover {
background: #A7A7A7 !important;
color:#333333;
}
.flapperStage .speakEasy ul li:hover a{
 color:#111111;
}
ul.noHover li:hover, li.noHover:hover { 
 background:transparent !important; color:#9FC54E;
}

.speakEasy ul li.active {
 background: #838383;
 color:#000000;
}
.speakEasy ul li.active a {
 color:#000;
}
.flapperStage .speakEasy ul li:last-child {
border-bottom: none; }

.speakEasy ul li a {
width:100%;height:100%;display:block;
color:#333333;
}


/****************************** according nav menu ***********************************/
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
 margin: 0;
 padding: 0;
 border: none;
 outline: none;
}
 
.accordion li {
 list-style: none;
}
.accordion li > a {
 display: block;
 position: relative;
 min-width: 110px;
 padding: 8px 10px 5px 10px;
 
 color: #fdfdfd;
 font-size: 1.1em;
  line-height:1.3em;
 text-decoration: none;
 
 background: #333333; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  
 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.accordion li .huicon {
 margin-top:2px;
}
.accordion li > a span {
 display: block;
 position: absolute;
 top: 7px;
 right: 0;
 padding: 0 10px;
 margin-right: 10px;
 
 font: normal bold 12px/18px Arial, sans-serif;
 background: #414141;
 
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px;
 border-radius: 15px;
 
 -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
 -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
 box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
 color: #00a6f5;
 
 background: #332d2d; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #332d2d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#332d2d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #332d2d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #332d2d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #332d2d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #332d2d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332d2d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
  
  
  
}
.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
 color: #fdfdfd;
 background: #A50000;
}


.accordion li a {
 color:#e7e7e7;
}

.sub-menu li a {
 color: #797979;
  padding-left:40px;
 background: #e5e5e5;
 border-bottom: 1px solid #c9c9c9;
 
 -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
 box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
 
.sub-menu li:last-child a { border: none; }
 
.sub-menu li > a span {
 color: #797979;
 background: transparent;
 border: 1px solid #c9c9c9;
 
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}
 
.sub-menu em {
 position: absolute;
 top: 0;
 left: 0;
 margin-left: 14px;
 color: #a6a6a6;
 font: normal 10px/32px Arial, sans-serif;
}
.accordion > li:hover > a,
.accordion > li:target > a {
 color: #00a6f5;
 
 background: #444444; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjI2MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #444444 0%, #262626 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#262626)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #444444 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #444444 0%,#262626 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #444444 0%,#262626 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #444444 0%,#262626 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#262626',GradientType=0 ); /* IE6-8 */
 
}
 
.accordion > li:hover > a span,
.accordion > li:target > a span {
 color: #f7f7f7;
 background: #383838;
}
 
.sub-menu li:hover a { background: #efefef; }
.accordion li > .sub-menu {
 display: none;
}
 
.accordion li:target > .sub-menu {
 display: block;
}

/*************************** [S08] Navigation Menu ***********************/
/* Clearfix */
.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}
.clearfix:after {
 clear: both;
}
.clearfix {
 *zoom: 1;
}
.superFix {
	position:fixed!important;
}

nav.flex {
 height: 40px;
 width: 100%;
 text-align:center;
 font-size: 1.2em;
 font-weight:bold;
 position: relative;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 background: #141414;
}
nav.flex ul {
 padding: 0;
 margin: 0 auto;
 width: 600px;
 height: 40px;
}
nav.flex li {
 display: inline;
 float: left;
}
nav.flex a {
 color: #fff;
 display: inline-block;
 width: 100px;
 text-align: center;
 text-decoration: none;
 line-height: 40px;
 padding: 0em;
}
nav.flex li a {
 color:#e7e7e7 !important;
 border-right: 1px solid #6D6D6D;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
}
nav.flex li:last-child a {
 border-right: 0;
}
nav.flex a:hover, nav.flex a:active {
 background: rgba(0,0,0,0.9);
 color:#f7f7f7;
}
nav.flex a.active-start {
 background: rgba(0,0,0,1);
}
nav.flex a.navpuller {
 display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
 nav.flex { 
 height: auto;
   }
 nav.flex ul {
 width: 100%;
 display: block;
 height: auto;
   }
 nav.flex li {
 width: 50%;
 float: left;
 position: relative;
   }
 nav.flex li a {
 border-bottom: 1px solid #6D6D6D;
 border-right: 1px solid #6D6D6D;
 }
 nav.flex a {
 text-align: left;
 width: 100%;
 text-indent: 25px;
   }
 /* horizontalNav Select Box */
 select.mnav {
 position:fixed;
 display: block;
 float:none;
 clear:both;
 overflow: hidden;
 margin: 6px auto 0px auto;
 width: 98%;  
 max-width:550px;
 max-height:2.2em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background: #fff url("https://huementui.s3.amazonaws.com/cdn/imgs/bg-select.png") no-repeat right;
 border: 1px solid #2d2d2d;
 font-size: 1.1em;
 padding: 0.5em 1em 0.5em 0.75em;
 height:100%;
 z-index:999;
 line-height: 1.1em;
 }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
 nav.flex {
  border-bottom: 0;
 }
 nav.flex ul, .horizontalNav-processed {
  display: none;
  height: auto;
 }
 
 nav.flex a.navpuller {
  display: block;
  
  background-color: #5C5C5C;
  width: 100%;
  position: relative;
 }
 nav.flex a.navpuller:after {
  content:"";
  background:url("https://huementui.s3.amazonaws.com/images/navicon-grey.png") no-repeat;
  width: 5%;
  height: 5%;
  min-height:30px;
  min-width:30px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 5px;
 }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
 nav.flex li {
  display: block;
  float: none;
  width: 100%;
 }
 nav.flex li a {
  border-bottom: 1px solid #576979;
 }
}
/*
* Base styles for horizontal navigation
*/
.horizontalNav-processed {
 font-weight: bold;
 background: #505050;
 background: -webkit-gradient( linear, left bottom, left top, color-stop(1, #505050), color-stop(0, #2E2E2E) );
 background: -moz-linear-gradient( center top, #505050, #2E2E2E );
 -webkit-box-shadow: 0 1px 0 #030303 inset;
 -moz-box-shadow: 0 1px 0 #030303 inset;
 border-bottom: 1px solid #646464;
 float: left;
}
.horizontalNav-processed li {
    float: left;
    border-left: 1px solid #000;
 font-size:1.1em;
 line-height:1.6em;
}
.horizontalNav-processed li .icon {
 background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-white.png");
 display: inline-block;
 margin: 3px 3px 3px 0;
 float: left;
 line-height: 17px;
 height: 17.5px;
 width: 18px;
 max-width: 18px;
 max-height:17.5px;
 overflow: hidden;
 text-indent: -9999px !important;
 background-repeat: no-repeat;
}
.horizontalNav-processed li:first-child {
    border-left: 0 none;
}
.horizontalNav-processed li a {
 font-weight:bold;
 font-size:1em;
    display: block;
    padding: 3px 3px 3px 6px;
    color: #f7f7f7;
    border-top:none;
    border-left: 1px solid rgba(255,255,255, 0.25);
}

.horizontalNav-processed li:first-child a {
    border-left: 0 none;
}
.horizontalNav-processed li a:hover, .horizontal-nav ul li a:visited:hover {
 background: #3d3d3d;
 background: -webkit-gradient( linear, left bottom, left top, color-stop(1, #3d3d3d), color-stop(0, #111111) );
 background: -moz-linear-gradient( center top, #3d3d3d, #111111 );
 color:#ffffff;
}
.horizontalNav-processed li.active {
	background:#131313;
	background-color:#131313;
}

@media screen and (max-width: 799px) {
 .horizontalNav-processed li a {
  font-size:0.8em !important;
  display: inline;
  white-space: nowrap;
  float:left;
 }
}
@media screen and (max-width: 480px) {
 .horizontalNav-processed, .smallHide {
  display:none !important;
 }
}