html {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #0d0d0d;
  background-color: white;
  text-rendering: optimizeLegibility; }

a {
  color: #1cb1ec; }
  a:hover {
    color: #00b7ff; }
  a:visited {
    color: #b21ced; }

.tC {
  text-align: center;
  padding: 1px;
  margin-left: auto;
  margin-right: auto; }

.page-header {
  padding: 5px 0 9px 10px;
  margin: 20px 0 30px;
  border-bottom: 1px groove #f0f0f0; }

/* Font Face Stuff. To style, simply Use your own Font File. */
/* More information about custom fonts and stuff is on the hui site */
@font-face {
  font-family: "annie";
  font-style: normal;
  font-weight: normal;
  src: url("../../../font/annieuseyourtelescope.eot");
  src: url("../../../font/annieuseyourtelescope.eot?#iefix&") format("embedded-opentype"), url("../../../font/annieuseyourtelescope.woff") format("woff"), url("../../../font/annieuseyourtelescope.ttf") format("truetype"); }

a.style, h1, h2, h3, h4, h5, h6 {
  font-family: "annie", Verdana, Arial, Helvetica, sans-serif !important; }

p {
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px 0 0 5px; }

.fnote {
  color: #4d4d4d !important;
  padding: 5px !important;
  margin: 0 !important;
  background: transparent !important;
  background-color: transparent !important;
  text-align: left !important;
  width: 95%;
  font-size: .98em;
  line-height: 1.5em; }

ul.list-unstyled {
  list-style-type: none; }

.card {
  background: whitesmoke;
  background-color: whitesmoke;
  border: 1px solid #e7e7e7;
  width: 95%;
  margin: 5px auto;
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.card p {
  padding: 5px;
  line-height: 1.6em;
  font-size: 1.2em;
  color: #454545; }

.card a {
  color: #1d92ff; }

.card a:hover, .card a:active, .card a:visited {
  color: #00b7ff !important; }

.shadow {
  -moz-box-shadow: 2px 2px 4px #111111;
  -webkit-box-shadow: 2px 2px 4px #111111;
  box-shadow: 2px 2px 4px #111111; }

.glass {
  margin: 10px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 2px 2px;
  -moz-border-radius: 10px 10px 2px 2px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3); }

.round {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.shadowRound {
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 2px 2px 4px #111111;
  -webkit-box-shadow: 2px 2px 4px #111111;
  box-shadow: 2px 2px 4px #111111; }

.redText {
  color: #c20000; }

.orangeText {
  color: #e75c00; }

.yellowText {
  color: #f3d124; }

.greenText {
  color: #0f8000; }

.blueText {
  color: #1d92ff; }

.purpleText {
  color: #911cff; }

.whiteText {
  color: white; }

.blackText {
  color: #2e2e2e; }

a.redText:hover {
  color: #d32323; }

a.orangeText:hover {
  color: #d44d24; }

a.yellowText:hover {
  color: #ebe313; }

a.greenText:hover {
  color: #33d424; }

a.blueText:hover {
  color: #13a6eb; }

a.purpleText:hover {
  color: #d113eb; }

a.whiteText:hover {
  color: #f7f7f7; }

a.blackText:hover {
  color: #3d3d3d; }

.redb, .redB {
  background-color: #c20000; }

.orangeb, .orangeB {
  background-color: #e75c00;
  background: #e75c00; }

.yellowb, .yellowB {
  background-color: #f3d124;
  background: #f3d124; }

.greenb, .greenB {
  background-color: #0f8000;
  background: #0f8000; }

.blueb, .blueB {
  background-color: #1d92ff;
  background: #1d92ff; }

.purpleb, .purpleB {
  background-color: #911cff;
  background: #911cff; }

.whiteb, .whiteB {
  background-color: white;
  background: white; }

.blackb, .blackB {
  background-color: #111111;
  background: #111111; }

.greyb, .grayb {
  background: #bdbdbd; }

.greyb, .grayb p {
  color: #111111; }

.greyb a {
  color: #1d92ff !important; }

.greyb a:hover, .container p a:hover {
  color: #1d92ff !important; }

.error {
  background: #e96868;
  color: white;
  border-color: #c20000; }

.notice, .warning {
  background: #fde982;
  color: #2e2e2e;
  border-color: #f3d124; }

.success, .accept {
  background: #6ec762;
  color: white;
  border-color: #0f8000; }

.info, .information {
  background: #76bcfd;
  color: white;
  border-color: #1d92ff; }

.Tegan.style {
  border: 1px solid gainsboro;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

.Tegan.style li:nth-child(1n), .Tegan.Sara.style li:nth-child(1n) {
  background: #e7e7e7;
  background-color: #e7e7e7; }

.Tegan.style li:nth-child(2n), .Tegan.Sara.style li:nth-child(2n) {
  background: whitesmoke;
  background-color: whitesmoke; }

button, .button {
  background: whitesmoke;
  border-color: gainsboro; }

button .label, .button .label {
  color: #666666; }

button:hover, .button:hover {
  background: #e7e7e7;
  border-color: #a0a0a0; }

button:hover .label, .button:hover .label {
  color: black; }

.huicon, .ddm span.icon, button span.icon, .button span.icon {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-hue.png"); }

.ddm:hover span.icon, button:hover span.icon, .button:hover span.icon {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-dark.png"); }

button.MAC {
  background: #eeeeee;
  background-image: -moz-linear-gradient(top, whitesmoke, #e7e7e7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, whitesmoke, #e7e7e7);
  background-image: -o-linear-gradient(top, whitesmoke, #e7e7e7);
  background-image: linear-gradient(top, whitesmoke, #e7e7e7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='#e7e7e7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='#e7e7e7');
  background-image: -ms-linear-gradient(top, whitesmoke, #e7e7e7); }
  button.MAC:hover {
    background: #e1e1e1;
    background-image: -moz-linear-gradient(top, #e7e7e7, gainsboro);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(gainsboro));
    background-image: -webkit-linear-gradient(top, #e7e7e7, gainsboro);
    background-image: -o-linear-gradient(top, #e7e7e7, gainsboro);
    background-image: linear-gradient(top, #e7e7e7, gainsboro);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='gainsboro');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='gainsboro');
    background-image: -ms-linear-gradient(top, #e7e7e7, gainsboro); }
  button.MAC.on {
    background: #e8e8e8;
    background-image: -moz-linear-gradient(top, gainsboro, whitesmoke);
    background-image: -webkit-gradient(linear, left top, left bottom, from(gainsboro), to(whitesmoke));
    background-image: -webkit-linear-gradient(top, gainsboro, whitesmoke);
    background-image: -o-linear-gradient(top, gainsboro, whitesmoke);
    background-image: linear-gradient(top, gainsboro, whitesmoke);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gainsboro', endColorstr='whitesmoke');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gainsboro', endColorstr='whitesmoke');
    background-image: -ms-linear-gradient(top, gainsboro, whitesmoke); }

button.black {
  background: #060606;
  background-image: -moz-linear-gradient(top, #0d0d0d, black);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  background-image: -webkit-linear-gradient(top, #0d0d0d, black);
  background-image: -o-linear-gradient(top, #0d0d0d, black);
  background-image: linear-gradient(top, #0d0d0d, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='black');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d0d0d', endColorstr='black');
  background-image: -ms-linear-gradient(top, #0d0d0d, black); }
  button.black:hover {
    background: #080808;
    background-image: -moz-linear-gradient(top, #111111, black);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(black));
    background-image: -webkit-linear-gradient(top, #111111, black);
    background-image: -o-linear-gradient(top, #111111, black);
    background-image: linear-gradient(top, #111111, black);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='black');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='black');
    background-image: -ms-linear-gradient(top, #111111, black); }
  button.black.on {
    background: #0f0f0f;
    background-image: -moz-linear-gradient(top, #111111, #0d0d0d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#0d0d0d));
    background-image: -webkit-linear-gradient(top, #111111, #0d0d0d);
    background-image: -o-linear-gradient(top, #111111, #0d0d0d);
    background-image: linear-gradient(top, #111111, #0d0d0d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#0d0d0d');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#0d0d0d');
    background-image: -ms-linear-gradient(top, #111111, #0d0d0d); }

div.jGrowl div.jGrowl-notification {
  color: whitesmoke;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #111111;
  background: #080808;
  background-image: -moz-linear-gradient(top, #111111, black);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(black));
  background-image: -webkit-linear-gradient(top, #111111, black);
  background-image: -o-linear-gradient(top, #111111, black);
  background-image: linear-gradient(top, #111111, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='black');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='black');
  background-image: -ms-linear-gradient(top, #111111, black); }

div.jGrowl div.jGrowl-closer {
  background-color: #0d0d0d;
  color: white;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

@media screen and (max-width: 800px) {
  div.jGrowl div.jGrowl-notification {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #0d0d0d;
    width: 97%;
    margin-right: 1%;
    text-shadow: none; } }
pre {
  color: white;
  background: #6f6f6f;
  border: 3px solid #bdbdbd;
  padding: 5px 5px 5px 10px;
  font-size: 15px;
  line-height: 17px; }

code {
  background: whitesmoke;
  color: #666666;
  border: 1px solid gainsboro; }

form {
  display: block;
  clear: both;
  padding: 1em 2em 2em 2em; }

input[type=submit] {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  background-color: #f5f5f5;
  border-color: #e6e6e6;
  color: #999;
  padding: .5em 1em;
  margin: 0;
  background-color: white;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: 0px 0px 6px #e7e7e7;
  -webkit-box-shadow: 0px 0px 6px #e7e7e7;
  box-shadow: 0px 0px 6px #e7e7e7; }

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border-color: #0099FF;
  outline: none;
  color: #FFFFFF;
  background: #616161; }

fieldset {
  padding: 2em;
  margin: 0 0 1em 0;
  border: 1px solid #e6e6e6;
  background: #f3f3f3; }

label {
  padding: 0 1em 0 0;
  color: #454545;
  font-weight: normal; }

select {
  clear: both;
  display: block;
  margin: .5em 0 1em 0; }

sup, sub {
  color: #454545;
  font-size: .65em; }

acronym {
  font-weight: bold;
  font-style: italic;
  color: #454545; }

abbr {
  color: #454545; }

blockquote {
  padding: 0.15em .5em;
  margin: 0.5em 0;
  font-size: 2em;
  color: #454545;
  display: block;
  font-style: italic; }

blockquote:before, blockquote:after {
  display: inline;
  color: 1px solid #e6e6e6;
  font-size: 3em;
  position: relative;
  top: 0.25em;
  left: -0.1em; }

blockquote:before {
  content: '\D \201C'; }

blockquote:after {
  content: '\201D'; }

table.theme tr th, table.theme th {
  background-color: #b1b1b1;
  color: #333333;
  text-shadow: -1px -1px 1px #cccccc; }

table.theme th {
  background-color: #cccccc; }

table.theme th:hover {
  background-color: #a7a7a7;
  color: #080808; }

table.theme th {
  text-align: left;
  padding: 0px 0 0 5px;
  font-weight: bold;
  line-height: 2em;
  background-color: #bebebe;
  text-shadow: none;
  color: #111111; }

table.theme th:hover {
  background-color: #a7a7a7;
  background: #a7a7a7;
  color: #c20000; }

table.theme tbody td {
  color: #3f3f3f;
  padding: 2px; }

table.theme .even, table.theme tr:nth-child(even) {
  background-color: #e4e4e4;
  background: #e4e4e4;
  color: #4d4d4d; }

table.theme .odd, table.theme tr:nth-child(odd) {
  background-color: #f1f1f1;
  background: #f1f1f1;
  color: #2d2d2d; }

table.style {
  border: 1px solid #e4e4e4; }

table.style th {
  padding: .5em  1em;
  color: black;
  background: #bebebe;
  font-weight: normal; }

table.style th, table.style td {
  border-bottom: 1px solid #f1f1f1; }

.style td {
  padding: 6px 8px;
  background: #e4e4e4;
  width: 35%;
  text-align: left;
  white-space: nowrap; }

table.style {
  border: 1px solid #e4e4e4;
  border-collapse: collapse;
  clear: both;
  width: 100%;
  border-spacing: 0;
  background: #f1f1f1;
  margin: 12px 0;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 20px 0;
  border-left: 1px solid #f1f1f1; }

table.style th {
  padding: .5em  1em;
  color: black;
  background: #e4e4e4;
  font-weight: normal; }

table.style th, table.style td {
  border-bottom: 1px solid #f1f1f1; }

.style td {
  text-align: left;
  white-space: nowrap;
  padding: 6px 8px;
  background: #e4e4e4;
  width: 35%; }

.style td, .style th {
  padding: .25em 1em;
  border: 1px solid #e4e4e4;
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  color: #3f3f3f;
  font-size: 0.85em; }

.style tr:nth-child(even) {
  background: #e4e4e4; }

.style thead th, .style tfoot td {
  background: #f1f1f1;
  color: #3f3f3f;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  padding: .5em .75em; }

table.style tr th, table.style tr td {
  padding: 10px 14px;
  text-align: left; }

table.style tr th {
  background-color: #333333;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  background: #222222;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#111111');
  background-image: -ms-linear-gradient(top, #333333, #111111); }

table.style tr td {
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }

#facebox h1, #facebox h2 {
  text-shadow: -1px -1px 1px #e0e0e0;
  font-weight: bold;
  color: #1b1b1b; }

#facebox .popup {
  color: #1b1b1b;
  background: #f7f7f7;
  border: 2px #555555 solid;
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15); }

#facebox .content {
  background: #f7f7f7; }

#facebox .content p {
  color: #1b1b1b; }

#facebox .content a {
  color: #1cb1ec; }

#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999; }

#tiptip_holder.tip_top {
  padding-bottom: 5px; }

#tiptip_holder.tip_bottom {
  padding-top: 5px; }

#tiptip_holder.tip_right {
  padding-left: 5px; }

#tiptip_holder.tip_left {
  padding-right: 5px; }

#tiptip_content {
  font-size: 0.95em;
  color: #f7f7f7;
  padding: 0.5em 1em;
  margin: 0;
  background-color: #141414;
  border: 1px solid #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

#tiptip_arrow, #tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0; }

#tiptip_holder.tip_top #tiptip_arrow {
  border-top-color: white; }

#tiptip_holder.tip_bottom #tiptip_arrow {
  border-bottom-color: white; }

#tiptip_holder.tip_right #tiptip_arrow {
  border-right-color: white; }

#tiptip_holder.tip_left #tiptip_arrow {
  border-left-color: white; }

#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #191919;
  border-top-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #191919;
  border-bottom-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #191919;
  border-right-color: rgba(25, 25, 25, 0.92); }

#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #191919;
  border-left-color: rgba(25, 25, 25, 0.92); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #tiptip_content {
    padding: 4px 8px 5px 8px;
    background-color: rgba(45, 45, 45, 0.88); }

  #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color: rgba(45, 45, 45, 0.88); }

  #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color: rgba(20, 20, 20, 0.92); } }
.flapperStage {
  min-width: 230px;
  width: 98%;
  margin: 10px 0px 50px 0px;
  padding: 4px 5px 4px 3px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  background-color: #d1d1d1; }

.flapperStage .speakEasy {
  width: 100%;
  background: #fdfdfd;
  border: 1px solid #c2c2c2;
  font: bold 0.95; }

.flapperStage .speakEasy ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden; }

.flapperStage .speakEasy ul li {
  font-size: 1em;
  padding: 5px 0px 5px 0px;
  width: 100%;
  margin: 0;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  line-height: 1.1;
  /* Set our transitions up. */
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  max-height: 30px; }

.flapperStage .speakEasy ul li.smushed {
  max-height: 0px;
  height: 0px;
  min-height: 0px;
  display: none; }

.flapperStage .speakEasy ul li.title_bar {
  padding: 10px 0px 10px 0 !important;
  margin-left: 0 !important;
  text-align: center;
  background-color: #e6e6e6;
  border-bottom: 1px inset #c2c2c2 !important;
  color: #454545 !important;
  font-weight: bold;
  cursor: pointer;
  text-shadow: none; }

.flapperStage .speakEasy ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #1cb1ec;
  padding: 3px 0px 3px 10px; }

.flapperStage .speakEasy ul li.title_bar:hover {
  background-color: #a7a7a7 !important;
  background: #a7a7a7 !important;
  color: #262626 !important; }

.flapperStage .speakEasy ul li:hover {
  border-color: #e6e6e6;
  background-color: #f3f3f3 !important;
  background: #f3f3f3 !important; }

.flapperStage .speakEasy ul li:hover a {
  color: #1d92ff !important; }

.speakEasy ul li.active {
  background: #838383;
  color: black; }

.speakEasy ul li.active a {
  color: #00b7ff; }

.flapperStage .speakEasy ul li:last-child {
  border-bottom: none; }

span.push_notification {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  padding: 3px;
  margin-right: 6px;
  background: #666666;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 1px #999999;
  box-shadow: inset 1px 1px 1px #999999;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #838383;
  background: #e4e4e4;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400; }

span.push_notification.button {
  color: #f1f1f1; }

li .huicon {
  border: 3px solid #e6e6e6;
  background-color: #e6e6e6;
  margin-top: -3px;
  margin-left: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.superFix {
  position: fixed !important; }

nav.flex {
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
  background: #141414; }

nav.flex ul {
  background: #141414;
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px; }

nav.flex li {
  display: inline;
  float: left; }

nav.flex a {
  color: #f7f7f7;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  padding: 0; }

nav.flex li a {
  color: #e6e6e6 !important;
  border-right: 1px solid #6d6d6d;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

nav.flex li:last-child a {
  border-right: 0; }

nav.flex a:hover, nav.flex a:active {
  background: #242424;
  color: #f7f7f7; }

nav.flex a.active-start {
  background: #242424; }

nav.flex a.navpuller {
  display: none; }

@media screen and (max-width: 800px) {
  nav.flex {
    height: auto; }

  nav.flex ul {
    width: 100%;
    display: none;
    height: auto; }

  nav.flex a.navpuller {
    display: block;
    background-color: #505050;
    width: 100%;
    position: relative; }

  nav.flex a.navpuller .fa-icon {
    float: right;
    margin-right: 15px; }

  nav.flex a.navpuller:after {
    content: "";
    width: 5%;
    height: 5%;
    min-height: 30px;
    min-width: 30px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 5px; }

  nav.flex li {
    width: 50%;
    float: left;
    position: relative;
    background: #141414; }

  nav.flex li a {
    border-bottom: 1px solid #6d6d6d;
    border-right: 1px solid #6d6d6d; }

  nav.flex a {
    text-align: left;
    width: 100%;
    text-indent: 25px; }

  select.mnav {
    position: fixed;
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    margin: 6px 0px 3px 2%;
    width: 96%;
    max-width: 550px;
    max-height: 2.2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white url("https://huementui.s3.amazonaws.com/cdn/imgs/bg-select.png") no-repeat right;
    border: 1px solid #242424;
    font-size: 1.1em;
    padding: 0.5em 1em 0.5em 0.75em;
    height: 100%;
    z-index: 999;
    line-height: 1.1em; } }
@media only screen and (max-width: 480px) {
  nav.flex {
    border-bottom: 0; }

  nav.flex ul, .horizontalNav-processed {
    display: none;
    height: auto; } }
@media only screen and (max-width: 320px) {
  nav.flex li {
    display: block;
    float: none;
    width: 100%; }

  nav.flex li a {
    border-bottom: 1px solid #576979; } }
.horizontalNav-processed {
  font-weight: bold;
  background: #505050;
  border-bottom: 1px solid #646464;
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none; }

.horizontalNav-processed li {
  float: left;
  border-left: 1px solid black;
  font-size: 1.2em;
  line-height: 1.6em; }

.horizontalNav-processed li .icon {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-hue.png");
  display: inline-block;
  margin: 3px 3px 3px 0;
  float: left;
  line-height: 17px;
  height: 17.5px;
  width: 18px;
  max-width: 18px;
  max-height: 17.5px;
  overflow: hidden;
  text-indent: -9999px !important;
  background-repeat: no-repeat; }

.horizontalNav-processed li:first-child {
  border-left: 0 none; }

.horizontalNav-processed li a {
  font-weight: bold;
  font-size: 1em;
  display: block;
  padding: 3px 3px 3px 6px;
  color: #f7f7f7;
  border-top: none;
  border-left: 1px solid #646464; }

.horizontalNav-processed li:first-child a {
  border-left: 0 none; }

.horizontalNav-processed li a:hover, .horizontal-nav ul li a:visited:hover {
  background: #3d3d3d;
  background: #272727;
  background-image: -moz-linear-gradient(top, #3d3d3d, #111111);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3d3d3d), to(#111111));
  background-image: -webkit-linear-gradient(top, #3d3d3d, #111111);
  background-image: -o-linear-gradient(top, #3d3d3d, #111111);
  background-image: linear-gradient(top, #3d3d3d, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#111111');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3d3d', endColorstr='#111111');
  background-image: -ms-linear-gradient(top, #3d3d3d, #111111);
  color: white; }

.horizontalNav-processed li.active {
  background: black;
  background-color: black; }

@media screen and (max-width: 800px) {
  .horizontalNav-processed li a {
    font-size: 0.8em !important;
    display: inline;
    white-space: nowrap;
    float: left; } }
@media screen and (max-width: 480px) {
  .horizontalNav-processed, .smallHide {
    display: none !important; } }
