
script(src='./../libs/jquery/jquery-1.10.2.min.js')
script(src="./../dist/js/hui.min.js")
script(src='./../libs/modernizr/modernizr.2.6.2.custom.js')
script(src='./../libs/snippet/jquery.snippet.min.js')
script(type='text/javascript').
	$("pre.htmlCode").snippet("html",{style:"whatis"});
	$("pre.jsCode").snippet("javascript",{style:"whatis"});
	$("pre.cssCode").snippet("css",{style:"whatis"});
	$("pre.bashCode").snippet("python",{style:"whatis"});
	$(".switchbox").bootstrapSwitch();
  
#Foots.container
	div.row
		div.col-xs-12
			div.push
				&nbsp;
			p.text-right
				© 2014 huement.com
			div.push
				&nbsp;
