

//Selection Coloring
::selection {
	background: #41BDAE; /* Safari */
	}
::-moz-selection {
	background: #41BDAE; /* Firefox */
}

.push {
  display:block;
  clear:both;
  margin: 0px auto;
  width: 99.9%;
  height: 25px;
  padding: 0px;
  position:relative;
}

//Custom Badge Color Classes
.badge-primary {
  color:$navmenu-default-link-active-color;
  background-color: $brand-primary!important;
	background: $brand-primary!important;
}
.badge-warning {
  color:$navmenu-default-link-active-color;
  background-color: $brand-warning!important;
	background: $brand-warning!important;
}
.badge-success {
  color:$navmenu-default-link-active-color;
  background-color: $brand-success!important;
	background: $brand-success!important;
}
.badge-info {
  color:$navmenu-default-link-active-color;
  background-color:  $brand-info!important;
	background:  $brand-info!important;
}
.badge-danger {
  color:$navmenu-default-link-active-color;
  background-color:  $brand-danger!important;
	background:  $brand-danger!important;
}
.badge-inverse {
  background-color: $brand-inverse!important;
	background: $brand-inverse!important;
}

//List Group Inverse
.list-group-item-inverse,.list-group-item-inverse:hover {
    color:$navmenu-default-link-active-color;
    background-color: $brand-inverse;
}

//Pagination
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pager {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  background-color: #fff;
  cursor: default;
}

//Category Spacer
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -100px;
  background-color: #fff;
  width: 200px;
  text-align: center;
}

.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}