// Labels for buttons
// --------------------------------------------------

@mixin button-label-size($padding-vertical, $padding-horizontal, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  left: (-1 * $padding-horizontal);
  border-radius: ($border-radius - 1px) 0 0 ($border-radius - 1px);

  &.btn-label-right {
    left: auto;
    right: (-1 * $padding-horizontal);
    border-radius: 0 ($border-radius - 1px) ($border-radius - 1px) 0;
  }
}

/* sharp button override */
.btn-lg, .btn-sm, .btn-xs {
  border-radius:0px!important;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label {
  position: relative;
  background: transparent;
  background: rgba(0, 0, 0, 0.15);
  display: inline-block;
  @include button-label-size($padding-base-vertical, $padding-base-horizontal, $border-radius-base);
}

.btn-lg .btn-label {
  @include button-label-size($padding-large-vertical, $padding-large-horizontal, $border-radius-large);
}
.btn-sm .btn-label {
  @include button-label-size($padding-small-vertical, $padding-small-horizontal, $border-radius-small);
}
.btn-xs .btn-label {
  @include button-label-size(1px, 5px, $border-radius-small);
}

.input-group-addon.primary {
    color: $navmenu-default-link-active-color;
    background-color: $brand-primary;
    border-color: $brand-primary;
}
.input-group-addon.success {
    color: $navmenu-default-link-active-color;
    background-color: $brand-success;
    border-color: $brand-success;
}
.input-group-addon.info {
    color: $navmenu-default-link-active-color;
    background-color: $brand-info;
    border-color: $brand-info;
}
.input-group-addon.warning {
    color: $navmenu-default-link-active-color;
    background-color: $brand-warning;
    border-color: $brand-warning;
}
.input-group-addon.danger {
    color: $navmenu-default-link-active-color;
    background-color: $brand-danger;
    border-color: $brand-danger;
}
.input-group-addon.inverse {
    color: $navmenu-default-link-active-color;
    background-color: $brand-inverse;
    border-color: $brand-inverse;
}

.close.light {
  color:#FFFFFF!important;
  opacity: 1!important;
}

.dropdown-menu-right {
  right:0px!important;
}
