// Core variables and mixins
@import "bootstrap/variables";
@import "hui/variables";

//Brand Web Font
$font-brand-primary:       "ubunturegular";
$font-brand-url:           "../fonts/ubuntu-r-webfont";
$brand-inverse:             #1F1F1F;

// Mixins and SCSS Extras
@import "bootstrap/mixins";
@import "hui/css3-mixins";
@import "hui/media-queries";
@import "hui/filter";

// Load Main HUI CSS Only Augmentations to Bootstrap
@import "hui/augment";
@import "hui/button";
@import "hui/typography";
@import "hui/modal"; //no JS mods

// Components
@import "hui/nav-tab-alignment";
@import "hui/navmenu";


//Javascript Components
@import "hui/offcanvas";
@import "hui/switch";