/* this file comes last in the hui build. */
/* if you dont include it at the end, you will need !important declarations for all this. :( */
.fg-color-blue {
  color: #2d89ef;
}
.fg-color-blueLight {
  color: #eff4ff;
}
.fg-color-blueDark {
  color: #2b5797;
}
.fg-color-green {
  color: #00a300;
}
.fg-color-greenLight {
  color: #99b433;
}
.fg-color-greenDark {
  color: #1e7145;
}
.fg-color-red {
  color: #b91d47;
}
.fg-color-yellow {
  color: #ffc40d;
}
.fg-color-orange {
  color: #e3a21a;
}
.fg-color-orangeDark {
  color: #da532c;
}
.fg-color-pink {
  color: #9f00a7;
}
.fg-color-pinkDark {
  color: #7e3878;
}
.fg-color-purple {
  color: #603cba;
}
.fg-color-darken {
  color: #1d1d1d;
}
.fg-color-lighten {
  color: #d5e7ec;
}
.fg-color-white {
  color: #ffffff;
}
.fg-color-grayDark {
  color: #525252;
}
.fg-color-magenta {
  color: #ff0097;
}
.fg-color-teal {
  color: #00aba9;
}
.fg-color-redLight {
  color: #ee1111;
}
.bg-color-blue {
  background-color: #2d89ef;
}
.bg-color-blueLight {
  background-color: #eff4ff;
}
.bg-color-blueDark {
  background-color: #2b5797;
}
.bg-color-green {
  background-color: #00a300;
}
.bg-color-greenLight {
  background-color: #99b433;
}
.bg-color-greenDark {
  background-color: #1e7145;
}
.bg-color-red {
  background-color: #C40000;
}
.bg-color-yellow {
  background-color: #ffc40d;
}
.bg-color-orange {
  background-color: #e3a21a;
}
.bg-color-orangeDark {
  background-color: #da532c;
}
.bg-color-pink {
  background-color: #9f00a7;
}
.bg-color-pinkDark {
  background-color: #7e3878;
}
.bg-color-purple {
  background-color: #603cba;
}
.bg-color-darken {
  background-color: #1d1d1d;
}
.bg-color-lighten {
  background-color: #d5e7ec;
}
.bg-color-white {
  background-color: #ffffff;
}
.bg-color-grayDark {
  background-color: #525252;
}
.bg-color-magenta {
  background-color: #ff0097;
}
.bg-color-teal {
  background-color: #00aba9;
}
.bg-color-redLight {
  background-color: #ee1111;
}
[class*=border-color] {
  border: 2px solid;
}
.border-color-blue {
  border-color: #2d89ef;
}
.border-color-blueLight {
  border-color: #eff4ff;
}
.border-color-blueDark {
  border-color: #2b5797;
}
.border-color-green {
  border-color: #00a300;
}
.border-color-greenLight {
  border-color: #99b433;
}
.border-color-greenDark {
  border-color: #1e7145;
}
.border-color-red {
  border-color: #b91d47;
}
.border-color-yellow {
  border-color: #ffc40d;
}
.border-color-orange {
  border-color: #e3a21a;
}
.border-color-orangeDark {
  border-color: #da532c;
}
.border-color-pink {
  border-color: #9f00a7;
}
.border-color-pinkDark {
  border-color: #7e3878;
}
.border-color-purple {
  border-color: #603cba;
}
.border-color-darken {
  border-color: #1d1d1d;
}
.border-color-lighten {
  border-color: #d5e7ec;
}
.border-color-white {
  border-color: #ffffff;
}
.border-color-grayDark {
  border-color: #525252;
}
.border-color-magenta {
  border-color: #ff0097;
}
.border-color-teal {
  border-color: #00aba9;
}
.border-color-redLight {
  border-color: #ee1111;
}
*:hover[class=outline-color] {
  outline: 3px solid;
}
.outline-color-blue {
  outline-color: #2d89ef;
}
.outline-color-blueLight {
  outline-color: #eff4ff;
}
.outline-color-blueDark {
  outline-color: #2b5797;
}
.outline-color-green {
  outline-color: #00a300;
}
.outline-color-greenLight {
  outline-color: #99b433;
}
.outline-color-greenDark {
  outline-color: #1e7145;
}
.outline-color-red {
  outline-color: #b91d47;
}
.outline-color-yellow {
  outline-color: #ffc40d;
}
.outline-color-orange {
  outline-color: #e3a21a;
}
.outline-color-orangeDark {
  outline-color: #da532c;
}
.outline-color-pink {
  outline-color: #9f00a7;
}
.outline-color-pinkDark {
  outline-color: #7e3878;
}
.outline-color-purple {
  outline-color: #603cba;
}
.outline-color-darken {
  outline-color: #1d1d1d;
}
.outline-color-lighten {
  outline-color: #d5e7ec;
}
.outline-color-white {
  outline-color: #ffffff;
}
.outline-color-grayDark {
  outline-color: #525252;
}
.outline-color-magenta {
  outline-color: #ff0097;
}
.outline-color-teal {
  outline-color: #00aba9;
}
.outline-color-redLight {
  outline-color: #ee1111;
}