.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.img-rounded {
  -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
      border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-circle {
  -webkit-border-radius: 500px;
   -moz-border-radius: 500px;
      border-radius: 500px;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}

.end { height:1px; margin-bottom:-1px;clear:both; border:none;color:transparent;background-color:transparent; }

table {
  width:100%;
}
tr {
  width:100%;
}

/**
 * Data Results
 */
.error, .notice, .success, .info, .accept, .warning {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice,.warning {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success,.accept {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info, .information {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.inline-tag{
  display: inline-block;
  line-height: inherit;
  font-size: .75em;
  font-weight: bold;
  padding: 2px 4px;
  background-color: #d5e7ec !important;
  color: #4d4d4d;
  vertical-align: 3%;
}
.inline-tag.success{
  background-color: #00a300 !important;
  color: #ffffff !important;
}
.inline-tag.warning{
  background-color: #e3a21a !important;
  color: #ffffff !important;
}
.inline-tag.important,
.inline-tag.error {
  background-color: #b91d47 !important;
  color: #ffffff !important;
}
.inline-tag.info{
  background-color: #2d89ef !important;
  color: #ffffff !important;
}
.inline-tag.inverse {
  background-color: #1d1d1d !important;
  color: #ffffff !important;
}

/* Pure Email Lists */
.email-box {
  background:#f7f7f7;
}
.pure-u-3-4 {
  width: 75%;
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.pure-u {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

/* Email Item Styles */
.email-item {
  padding: 6px 3px 5px 5px;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid transparent;
}
.email-avatar {
  border-radius: 3px;
  margin-right: 0.5em;
}
.email-name,
.email-subject {
  margin: 0;
}
.email-name {
  text-transform: uppercase;
  color: #999;
}
.email-desc {
  font-size: 80%;
  margin: 0.4em 0;
}

.email-item-selected {
  background: #eee;
}
.email-item-unread {
  border-left: 6px solid #02a3c6;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
  padding: 1em 2em;
}
.email-content-header {
  border-bottom: 1px solid #ddd;
}

.email-content-title {
  margin: 0.5em 0 0;
}
.email-content-subtitle {
font-size: 1em;
  margin: 0;
  font-weight: normal;
}
.email-content-subtitle span {
  color: #999;
}
.email-content-controls {
  margin-top: 2em;
  text-align: right;
}
.email-content-controls .secondary-button {
  margin-bottom: 0.3em;
}

@media screen and (max-width: 480px) {
  .email-avatar {
    width: 40px;
    height: 40px;
  }
}


/* Tegan and Sara */
.Tegan {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding:0;
  width:100%;
  display:block;
  margin:0;
  position:relative;
  clear:both;
  padding:0px;
  overflow: hidden;
  list-style: none;
}

.Tegan li {
  clear:both;display:block;
  margin:0;
  padding:3px 2px 0px 0px;
  border-bottom:1px solid #CFCFCF;
  min-height:50px;
  background:#EEEEEE;
  background-color:#EEEEEE;
}

.Tegan.dark, .Tegan.Sara.dark {
  border:none;padding:0;
  background:transparent;
  border-radius:none;
}

.Tegan.dark li {
  background:#111;
  border-bottom:1px solid #333;
  filter:none;
}

.Tegan.dark.style {
  border:1px solid #666;
}
  
.Tegan.Sara li {
  padding: 0;
  min-height:70px;
}

.Tegan .title_bar {
  line-height:1em;
  padding:4px;
}

.Tegan li .name {
  margin: 0px 0 0 5px;
  width: auto;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  width:97%;
  min-width:200px;
}

.Tegan.dark li .name {
  color: #f0f0f0;
}

.Tegan.Sara li .name {
  margin: 5px 0 0 5px;
  width: auto;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  text-indent:5px;
  width: 70%;
}

.Tegan li .comment {
  margin:3px 0 3px 0px;
  font-size: 1em;
  line-height:1em;
  float: left;
  color: #111;
  min-width:75%;
  width:auto;
  max-width:90%;
  padding-left:5px;
}

.Tegan.dark li .comment {
  color: #e7e7e7;
}

li .comment.limit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left:3px;
  max-width:75%!important;
}

.Tegan li .arrow {
  position:absolute;
  margin-top:25px;
  right:10px;
  line-height: 18px;
  height: 18px;
  width: 18px;
  max-width: 18px;
  clear:none;
  display:inline;
  z-index:222;
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-gray.png");
}

.Tegan.dark li .arrow {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-light.png");
}

.Tegan.Sara li:hover .arrow, .Tegan li:hover .arrow {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-dark.png");
}

.Tegan.dark li:hover .arrow {
  background-image: url("https://huementui.s3.amazonaws.com/images/hui-sprite-light.png");
}

.Tegan li a:nth-child(1) {
  clear:both;
  display:block;
  position:relative;
  float:none;
  height:100%;
  min-height:100%;
}

.Tegan.Sara li a:nth-child(1) {
  clear:none;
  display:inline;
  position:relative;
  float:left;
  height:auto;
  min-height:auto ;
  padding:0px 0 0px 1px;
  margin:0;
}

.Tegan.Sara li .arrow {
  right:7px;
}

.Tegan.Sara li img:nth-child(1) {
  max-width:70px;
  max-height:70px;
  width:70px;
  height:70px;
  float: left;
  border: none;
  box-shadow: none;
  border-right: 1px solid #999;
}

.Tegan.Sara li:first-child img:nth-child(1) {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Tegan.Sara li .comment {
  margin:3px 0 3px 0px;
  font-size: 1em;
  line-height:1em;
  float: left;
  
  max-width:75%;
}

.Tegan li:first-child,.Tegan li:first-child:hover {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Tegan li:last-child, .Tegan li:last-child:hover {
  border-bottom:none;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Tegan li:hover, .Tegan li:active, .Tegan li.active  {
  background: #C2C2C2; /* Old browsers */
}

.Tegan.dark li:first-child { 
  border-bottom:1px inset #666;
  padding-top:1px;
}

.Tegan.dark li:last-child {
  border-bottom:none;
}

.Tegan.dark li:hover { 
  background:#2d2d2d;
  border-bottom:1px inset #666;
  filter:none;
}

.Tegan.Sara.minilist li {
  margin-top: 25px;
  margin-top: 25px;
  background: rgba(0, 0, 0, 0)!important;
  min-height: 25px;
  border:none!important;
}

.Tegan.Sara.minilist li:hover{
  border:none!important;
}

.Tegan.Sara.minilist li img {
  width: 25px!important;
  height: 25px!important;
  max-width: 25px!important;
  max-height: 25px!important;
  border-right:none!important;
}

.Tegan li .comment.success,.Tegan li .comment.error {
  max-width:50%!important;
  min-width:50%!important;
  width:50%!important;
  padding:5px 0px 5px 5px;
  clear:none;
  float:left;
  margin-left:10px;
}
/* larger blocks. great for price tables etc. */
.Tegan li.large {
  min-height:100px;
  height:auto;
  background:#FCFCFC!important;
  background-color:#FCFCFC!important;
}
.Tegan li.large .lt {
  font-size:1.3em;
  line-height:1.5em;
  font-weight:bold;
  padding:0px 5px 5px 5px;
  margin:0;
  display:block;
  position:relative;
}
.Tegan li.large .ld {
  font-size:1em;
  line-height:1em;
  margin:0;
  display:block;
  position:relative;
  padding:0px 5px 5px 5px;
}

@media only screen and (max-width : 798px) {

  .Tegan {
  width:100%;
  padding:0px;
  border:none;
  }
  .Tegan.inset {
  width:96%;
  display:block;
  max-width:96%;
  margin:0 auto;
  position:relative;
  }
  .Tegan {
  background:transparent;
  background-color:transparent;
  }
  .Tegan li {
  background:#F3F3F3;
  background-color:#F3F3F3;
  }
  .Tegan li a {
  clear:both;
  display:block;
  position:relative;
  float:none;
  height:100%;
  min-height:100%;
  }
  .Tegan li:hover, .Tegan li:active {
  background:#CCCCCC;
  background-color:#CCCCCC;
  }
  
  .Tegan.Sara.dark {
  background:transparent;
  background-color:transparent;
  }
  .Tegan.dark li,.Tegan.Sara.dark li {
  background:#111;
  background-color:#111;
  }
  .Tegan.Sara li a {
  clear:both;
  display:block;
  position:relative;
  float:none;
  height:100%;
  min-height:100%;
  }
  .Tegan.Sara.dark li:nth-child(odd) { 
  background:#2d2d2d;
  background-color:#2d2d2d;
  }
  .Tegan.Sara.dark li:nth-child(even) { 
  background:#111;
  background-color:#111; 
  }
  .Tegan.Sara.dark li:hover, .Tegan.Sara li:active {
  background:#666;
  background-color:#666;
  }

  .Tegan.Sara li {
  min-height:70px;
  }
  
  .Tegan li .name { 
  font-size:1.2em;
  }
  .Tegan li .comment { font-size:1em; }
}

@media only screen and (max-width : 550px) {
  .Tegan {
  margin-left:-5px;
  }
  .Tegan li {
  padding:3px 0px 0 0px;
  }
  .Tegan li .name { width:98%;font-size:1em;}
  .Tegan li .comment { width:98%;font-size:0.9em; }
}

/* Taylor Swifty style List */
.Taylor {
  width:100%;
  margin-left:0px;
  list-style:none;
  height:auto;
  height:100%;
}

.Taylor li {
  width:100%;
  list-style:none;
  min-height:100px;
  height:auto;
  padding:10px 0 0px 0;
  overflow: hidden;
  margin: 0;
  *zoom: 1;
}

.Taylor li:first-child {
  border-top: 3px solid #999;
}
.Taylor li:last-child {
  border-bottom: 3px solid #999;
}
.Taylor.dark li:first-child {
  border-top: 3px solid #333;
}
.Taylor.dark li:last-child {
  border-bottom: 3px solid #333;
}
.Taylor li:last-child .Tbox {
  margin-bottom:10px;
}
.Taylor li .nail {
  float: left;
  border-radius: 5px;
  overflow: hidden;
  width:50px;
  height:50px;
  border:1px solid #CFCFCF;
  margin-top:18px;
  margin-left:5px;
}
.Taylor.dark li .nail {
  border:1px solid #666;
}
.Taylor .Tbox {
  float:right;
  width:77%;
  padding: 2px 2px 5px 5px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  background: #f7f7f7;
  margin-right:3px;
  margin-top:0px;
}
.Taylor.dark .Tbox {
  border: 1px solid #666;
  background: #111111;
}
/* Decoration */

.Taylor li, .Tbox { position: relative }

.Taylor li:before, .Tbox:before, .Tbox .text:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -12px;
}

.Taylor li:before {
  width: 4px;
  left: 18%;
  bottom: 0px;
  margin-top:-20px;
  background: #999;
  background: rgba(0,0,0,0.4);
}
.Taylor.dark li:before { background: #333;background: rgba(0,0,0,0.7); }

/* popper */
.Tbox:before {
  width: 18px;
  height: 18px;
  border: 9px solid #ddd;
  border-radius: 100px;
  margin: 9px 0 0 -19px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.2);
  background: #999;
}

.Tbox:hover:before { background: #DA0000; border-color: #666;}
.dark .Tbox:before { background: #333; border-color: #666; }
.dark .Tbox:hover:before { background: #DA0000; border-color: #999;}

.Tbox .text:before {
  top: 18px;
  left: 78px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.Tbox .name, .Tbox .comment {
  margin:0;padding:0;
  padding:6px;
}
.dark .Tbox .name, .dark .Tbox .comment {
  color:#f7f7f7;
}
.Tbox .name {
  font-weight:bold;
}
/* breakup with Taylor */


.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.list-group-item:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item {
  color: #555555;
}
a.list-group-item .list-group-item-heading {
  color: #333333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #00ada7;
  border-color: #00ada7;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #7afffa;
}
.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}