/* General styles for all menus 
Forked From Blueprint.
http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
*/

.cbp-spmenu {
	background: #4D4D4D;
	position: fixed;
}
.cbp-spmenu-red {
	background: #D61D1D;
}
.cbp-spmenu-green {
	background: #2ABE25;
}
.cbp-spmenu-orange {
	background: #F56D12;
}
.cbp-spmenu-blue {
	background: #47a3da;
}

.cbp-spmenu h3 {
	color: #E2DBDB;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #363636;
}
.cbp-spmenu-red h3 {
	color: #F0F0F0;
	background: #BD0808;
}
.cbp-spmenu-green h3 {
	color: #B2ECC0;
	background: #07B12F;
}
.cbp-spmenu-orange h3 {
	color: #E7C1A8;
	background: #CA5608;
}
.cbp-spmenu-blue h3 {
	color: #afdefa;
	background: #0d77b6;
}
	
.cbp-spmenu a, .cbp-spmenu a:visited {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #292929;
}
.cbp-spmenu-red a:hover {
	background: #C02A2A;
}
.cbp-spmenu-green a:hover {
	background: #2DA822;
}
.cbp-spmenu-orange a:hover {
	background: #C0550D;
}
.cbp-spmenu-blue a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}
.cbp-spmenu-red a:active {
	background: #FF7575;
	color: #D94848;
}
.cbp-spmenu-green a:active {
	background: #63FC81;
	color: #48D960;
}
.cbp-spmenu-orange a:active {
	background: #FF9B61;
	color: #D98648;
}
.cbp-spmenu-blue a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #63686B;
	padding: 1em;
}
.cbp-spmenu-red .cbp-spmenu-vertical a {
	border-bottom: 1px solid #CC2525;
}
.cbp-spmenu-green .cbp-spmenu-vertical a {
	border-bottom: 1px solid #25CC46;
}
.cbp-spmenu-orange .cbp-spmenu-vertical a {
	border-bottom: 1px solid #CC6225;
}
.cbp-spmenu-blue .cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #63686B;
}
.cbp-spmenu-horizontal-red a {
	border-left: 1px solid #CC2525;
}
.cbp-spmenu-horizontal-green a {
	border-left: 1px solid #25CC46;
}
.cbp-spmenu-horizontal-orange a {
	border-left: 1px solid #CC6225;
}
.cbp-spmenu-horizontal-blue a {
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}