/* Widget Stylings */
#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    overflow-y:auto;
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}

/* Section 01 jGrowl */

div.jGrowl {
 z-index:    9999;
 color:     #fff;
 font-size:    12px;
}

/** Special smallscreen Style Positioning **/
div.smallscreen {
 position: absolute;
}

div.smallscreen.top-right {
 right:  auto;
 bottom: auto;
 left:  expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  top:  expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.smallscreen.top-left {
 left:  expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top:  expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.smallscreen.bottom-right {
 left:  expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top:  expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.smallscreen.bottom-left {
 left:  expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top:  expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.smallscreen.center {
 left:  expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top:  expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
 width:  100%;
}

/** Normal Style Positions **/
div.jGrowl {
 position:   fixed;
}

body > div.jGrowl {
 position:   fixed;
}

div.jGrowl.top-left {
 left:     0px;
 top:     0px;
}

div.jGrowl.top-right {
 right:     0px;
 top:     0px;
}

div.jGrowl.bottom-left {
 left:     0px;
 bottom:    0px;
}

div.jGrowl.bottom-right {
 right:     0px;
 bottom:    0px;
}

div.jGrowl.center {
 top:     0px;
 width:     50%;
 left:     25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
 margin-left:   auto;
 margin-right:   auto;
 background-color:   #000; 
 zoom:      1;
 width:      235px;
 padding:     10px;
 margin-top:    5px;
 margin-bottom:    5px;
 font-family:    Tahoma, Arial, Helvetica, sans-serif;
 font-size:     1em;
 text-align:    left;
 display:     none;
 -moz-border-radius:  5px;
 -webkit-border-radius: 5px;
}

div.jGrowl div.jGrowl-notification {
color:   #FFFFFF;
font-weight: normal;
zoom:   1;
min-width:  290px;
width: 290px;
min-height:  60px;
height:auto;
padding:  3px 0 5px 8px;
margin-top: 5px;
margin-bottom: 5px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:  1.3em;
line-height:   1.4em;
text-align: left;
display:  none;
-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
border: 1px solid #3d3d3d;
background: #111111; /* Old browsers */
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
 margin:  10px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
 font-weight:  bold;
 font-size: 1.1em;
 line-height: 1em;
 font-weight: bold;
 padding-top: 0;
 margin: 0px 0 1px 0;
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
 z-index:    99;
 float:      right;
 font-weight:    bold;
 font-size:     1.2em;
 padding-right:   4px;
 cursor:     pointer;
}

div.jGrowl div.jGrowl-closer {
 background-color:   #000;
 color:  #FFF;
 border:  none !important;
 zoom:   1;
 width:  298px;
 padding:  5px 2px 5px 2px;
 margin-top: 5px;
 margin-bottom: 5px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size:  1.2em;
 text-align: center;
 display:  none;
 -moz-border-radius:  2px;
 -webkit-border-radius: 2px;
}
div.jGrowl div.jGrowl-closer:hover {
 cursor:     pointer;
}
/* Icon */
.jGhuicon { 
 min-width: 32px !important;
 width: 32px !important; 
 min-height: 32px !important; 
 height:32px !important;
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-notefy.png');
 float:left;  
 margin:10px 5px 0 -5px;
}

.jGrowl-icon-notefy { 
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-notefy.png') !important;
}
.jGrowl-icon-address {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-address.png') !important;
}
.jGrowl-icon-alert {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-alert.png') !important;
}
.jGrowl-icon-ape {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-ape.png') !important;
}
.jGrowl-icon-box {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-box.png') !important;
}
.jGrowl-icon-caution {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-caution.png') !important;
}
.jGrowl-icon-chat {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-chat.png') !important;
}
.jGrowl-icon-date {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-date.png') !important;
}
.jGrowl-icon-down {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-down.png') !important;
}
.jGrowl-icon-earth {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-earth.png') !important;
}
.jGrowl-icon-facebook {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-facebook.png') !important;
}
.jGrowl-icon-gear {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-gear.png') !important;
}
.jGrowl-icon-heart {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-heart.png') !important;
}
.jGrowl-icon-help {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-help.png') !important;
}
.jGrowl-icon-info {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-info.png') !important;
}
.jGrowl-icon-jack {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-jack.png') !important;
}
.jGrowl-icon-jackolantern {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-jackolantern.png') !important;
}
.jGrowl-icon-maps {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-maps.png') !important;
}
.jGrowl-icon-mumford {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-mumford.png') !important;
}
.jGrowl-icon-ok {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-ok.png') !important;
}
.jGrowl-icon-player {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-player.png') !important;
}
.jGrowl-icon-plus {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-plus.png') !important;
}
.jGrowl-icon-rss {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-rss.png') !important;
}
.jGrowl-icon-search {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-search.png') !important;
}
.jGrowl-icon-spade {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-spade.png') !important;
}
.jGrowl-icon-star {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-star.png') !important;
}
.jGrowl-icon-twitter {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-twitter.png') !important;
}
.jGrowl-icon-up {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-up.png') !important;
}
.jGrowl-icon-weather {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-weather.png') !important;
}
.jGrowl-icon-x {  
 background-image: url('https://huementui.s3.amazonaws.com/notefy/hui-icon-x.png') !important;
}

/* mobile theme */
@media screen and (max-width: 767px) {
 
 div.jGrowl.top-left{position:fixed;left:5%;top:50px;width:95%;}
 div.jGrowl.top-right {width:93%;left:2%;top:60px}div.jGrowl.bottom-left{left:0;bottom:0}
 div.jGrowl.bottom-right{right:0;bottom:0}
 div.jGrowl.center{top:0;width:50%;left:25%}
 div.center div.jGrowl-notification,div.center div.jGrowl-closer{margin-left:auto;margin-right:auto}

 div.jGrowl div.jGrowl-closer{
  background-color:#000;
  color:#FFF;
  border:none!important;
  width:100%;
  padding:10px;
  margin-top:5px;
  margin-bottom:5px;
  font-family:Tahoma,Arial,Helvetica,sans-serif;
  font-size:1.2em;
  text-align:left;
 }
 div.jGrowl div.jGrowl-notification{min-height:40px}

 div.jGrowl div.jGrowl-notification div.jGrowl-header{
  font-size:1.2em;line-height:1.1em;
  padding-top:0;margin-top:0;margin-bottom:5px;
  text-overflow:ellipsis;
  white-space: nowrap;
 }

 div.jGrowl div.jGrowl-notification div.jGrowl-close{
  z-index:99;
  position: relative;
  float:right;
  top:85%;
  right:5%;
  padding:5px 50px 15px 50px;
  font-weight:bold;
  font-size:1em;
  width:20px;
  height:10px;
  background:#929292;
  border:1px solid #e7e7e7;
  border-bottom:none;
 }

 div.jGrowl div.jGrowl-closer{padding-top:4px;padding-bottom:4px;cursor:pointer;font-size:.9em;font-weight:bold;text-align:center;text-shadow:none;}

 div.jGrowl div.jGrowl-notification {
 border:1px solid #424441;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 overflow:hidden;
 padding:10px 0px 10px 10px;
 margin-top:3px;
 margin-bottom:5px;
 zoom:1;
 background:#45484d;
 width:100%;
 height:113px;
 color:#fff;
 font-family:"Helvetica Neue","Helvetica";
 font-size:1.3em;
 font-weight:bold;
 text-align:left;
 }

 div.jGrowl div.jGrowl-message{padding:0 5px 5px 5px;}
}

/* Section 02 FaceBox */
/* Section 02 FaceBox */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: left;
}

#facebox .popup {
  position:relative;
  overflow: hidden;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  margin: 5px auto 10px auto;
  position:relative;
  display:block;
  width:98%;
  padding:3px;
  min-width:770px;
  max-width: 900px;
  border-radius:3px;
}

#facebox .content {
  margin:0;
  display:table;
  width:98%;
  min-width:300px;
  padding: 10px 6px 25px 6px;
}

#facebox .close{
  position:absolute;
  top:2px;
  right:5px;
  padding:0 5px 3px 5px;
}

#facebox .close img{
  opacity:0.8;
}

#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  z-index: 997;
}

@media screen and (max-width: 767px) {
 #facebox .popup {
  min-width:100% !important;
  max-width: 100% !important;
  width:100% !important;
 }
}

/* Section 03 Tarot Cards */
/* 
* .tarotDeck is the outer wrap. tarotBox are 900px sized containers of .tarotCard 's
*/
.tarotDeck *, .tarotDeck *:after, .tarotDeck *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.tarotBox {
  display:block;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  width:800px;
}

@media only screen and (max-width : 800px) {
  .tarotBox {
  display:block;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  width:400px;
  }
}
@media only screen and (max-width : 400px) {
  .tarotBox {
  display:block;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  width:200px;
  }
}
.tarotDeck [class*="span"] {
  float: none;
  min-height: 1px;
  margin-right: 20px;
  margin-bottom: 5px;
  *zoom: 1;
}
.tarotDeck [class*="span"]:before,
.tarotDeck [class*="span"]:after {
  display: table;
  content: "";
}
.tarotDeck [class*="span"]:after {
  clear: both;
}
.tarotDeck [class*="span"]:last-child {
  margin-right: 0;
}
.tarotDeck [class*="span"] > img {
  max-width: 100%;
  height: auto;
}
.tarotDeck .grid {
  margin: 0 0 20px;
  display: block;
  height: auto;
  width: 100%;
  *zoom: 1;
}
.tarotDeck .grid.no-margin {
  margin: 0;
}
.tarotDeck .grid.margin-row {
  margin-bottom: 5px;
}
.tarotDeck .grid .grid {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.tarotDeck .grid .group {
  margin-right: 80px;
  float: left;
  width: auto;
  height: auto;
  min-height: 1px;
}
.tarotDeck .grid .row {
  width: 100%;
  *zoom: 1;
}
.tarotDeck .grid .row:before,
.tarotDeck .grid .row:after {
  display: table;
  content: "";
}
.tarotDeck .grid .row:after {
  clear: both;
}
.tarotDeck .grid .row [class*="span"] {
  float: left;
}
.tarotDeck .grid.element-border [class*="span"] {
  border: 1px #ccc dotted;
}
.tarotDeck .grid:before,
.tarotDeck .grid:after {
  display: table;
  content: "";
}
.tarotDeck .grid:after {
  clear: both;
}
.tarotDeck .grid > .row::before,
.tarotDeck .grid > .row::after {
  content: normal;
}
.tarotDeck td[class*="span"],
.tarotDeck th[class*="span"] {
  display: table-cell !important;
  float: none !important;
  padding: 0 !important;
}

.place-right {
  float: right !important;
  margin-left: 10px;
}
.place-left {
  float: left !important;
  margin-right: 10px;
}
.selected {
  border: 4px #3A3A3A solid;
}
.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #3A3A3A;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: ".";
  top: 0;
  z-index: 1001;
}
.selected:before {
  position: absolute;
  content: "\f005";
  color: #fff;
  right: 4px;
  font-family: FontAwesome;
  z-index: 1002;
}
.tarotCard p,
.tarotCard div {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 14pt;
  font-smooth: always;
}

.tarotCard {
  display: block;
  float: left;
  background-color: #525252;
  width: 150px;
  height: 150px;
  cursor: pointer;
  box-shadow: inset 0px 0px 1px #FFFFCC;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  font-family: "annie", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 14pt;
  font-smooth: always;
  margin: 0 10px 10px 0;
  overflow: hidden;
}
.tarotCard * {
  color: #ffffff;
}
.tarotCard .tarotCard-content {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 30px;
  vertical-align: top;
  padding: 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  line-height: 11pt;
  color: #000000;
  color: #ffffff;
  line-height: 16px;
}
.tarotCard .tarotCard-content:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tarotCard .tarotCard-content:active {
  color: rgba(0, 0, 0, 0.4);
}
.tarotCard .tarotCard-content:hover {
  color: #ffffff;
}

.tarotCard .tarotCard-content h1,
.tarotCard .tarotCard-content h2,
.tarotCard .tarotCard-content h3,
.tarotCard .tarotCard-content h4,
.tarotCard .tarotCard-content h5,
.tarotCard .tarotCard-content h6 {
  font-size: 14pt;
}
.tarotCard .tarotCard-content h1,
.tarotCard .tarotCard-content h2,
.tarotCard .tarotCard-content h3,
.tarotCard .tarotCard-content h4,
.tarotCard .tarotCard-content h5,
.tarotCard .tarotCard-content h6,
.tarotCard .tarotCard-content p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tarotCard .tarotCard-content h4,
.tarotCard .tarotCard-content h5,
.tarotCard .tarotCard-content h6{
	font-weight:bold;
}
.tarotCard .tarotCard-content h1:hover,
.tarotCard .tarotCard-content h2:hover,
.tarotCard .tarotCard-content h3:hover,
.tarotCard .tarotCard-content h4:hover,
.tarotCard .tarotCard-content h5:hover,
.tarotCard .tarotCard-content h6:hover,
.tarotCard .tarotCard-content p:hover {
  color: #ffffff;
}
.tarotCard .tarotCard-content p {
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  line-height: 11pt;
  color: #000000;
  color: #ffffff;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tarotCard .tarotCard-content p:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tarotCard .tarotCard-content p:active {
  color: rgba(0, 0, 0, 0.4);
}
.tarotCard .tarotCard-content p:hover {
  color: #ffffff;
}
.tarotCard.icon > .tarotCard-content {
  padding: 0;
}
.tarotCard.icon > .tarotCard-content > img {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.tarotCard.icon > .tarotCard-content > i {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  font-size: 64px;
}
.tarotCard.image > .tarotCard-content,
.tarotCard.image-slider > .tarotCard-content {
  padding: 0;
}
.tarotCard.image > .tarotCard-content > img,
.tarotCard.image-slider > .tarotCard-content > img {
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 100%;
}
.tarotCard.image-set > .tarotCard-content {
  margin: 0;
  padding: 0;
  width: 25% !important;
  height: 50%;
  float: left;
  border: 1px #1e1e1e solid;
}
.tarotCard.image-set > .tarotCard-content > img {
  min-width: 100%;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.tarotCard.image-set .tarotCard-content:first-child {
  width: 50% !important;
  float: left;
  height: 100%;
}
.tarotCard.double {
  width: 310px;
}
.tarotCard.triple {
  width: 470px;
}
.tarotCard.quadro {
  width: 630px;
}
.tarotCard.double-vertical {
  height: 310px;
}
.tarotCard.triple-vertical {
  height: 470px;
}
.tarotCard.quadro-vertical {
  height: 630px;
}
.tarotCard .suit,
.tarotCard .tarotCard-status {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 30px;
  background-color: transparent;
  *zoom: 1;
}
.tarotCard .suit:before,
.tarotCard .tarotCard-status:before,
.tarotCard .suit:after,
.tarotCard .tarotCard-status:after {
  display: table;
  content: "";
}
.tarotCard .suit:after,
.tarotCard .tarotCard-status:after {
  clear: both;
}
.tarotCard .suit > .badge,
.tarotCard .tarotCard-status > .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  right: 5px;
  margin-bottom: 0;
  color: #ffffff;
  width: 34px;
  height: 28px;
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 13px;
  font-smooth: always;
  padding-top: 3px;
}

.tarotCard .fa-icon {
	font-size:1.5em;
	line-height:1em;
	padding-top:2px;
}


.tarotCard .suit > .name,
.tarotCard .tarotCard-status > .name {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 15px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  line-height: 11pt;
  color: #ffffff;
}
.tarotCard .suit > .name:hover,
.tarotCard .tarotCard-status > .name:hover {
  color: #ffffff;
}
.tarotCard .suit > .name > [class*=icon-],
.tarotCard .tarotCard-status > .name > [class*=icon-] {
  font-size: 24px;
}
.tarotCard .suit > .icon,
.tarotCard .tarotCard-status > .icon {
  margin: 5px 15px;
  width: 32px;
  height: 32px;
}
.tarotCard .suit > .icon > [class*=icon-],
.tarotCard .tarotCard-status > .icon > [class*=icon-] {
  font-size: 32px;
}
.tarotCard .suit > .icon > img,
.tarotCard .tarotCard-status > .icon > img {
  width: 100%;
  height: 100%;
}
.tarotCard .suit > img ~ .text,
.tarotCard .tarotCard-status > img ~ .text {
  position: absolute;
  left: 60px;
  width: auto;
}
.tarotCard .suit > .text,
.tarotCard .tarotCard-status > .text {
  position: relative;
  left: 8px;
  top: 5px;
  right: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 9pt;
  font-smooth: always;
  line-height: 11pt;
  color: #000000;
  color: #ffffff;
  line-height: 14px;
  width: 60%;
  padding: 0;
  margin: 0;
}
.tarotCard .suit > .text:hover,
.tarotCard .tarotCard-status > .text:hover {
  color: rgba(0, 0, 0, 0.8);
}
.tarotCard .suit > .text:active,
.tarotCard .tarotCard-status > .text:active {
  color: rgba(0, 0, 0, 0.4);
}
.tarotCard .suit > .text:hover,
.tarotCard .tarotCard-status > .text:hover {
  color: #ffffff;
}
.tarotCard:hover {
  outline: 3px #3a3a3a solid;
}
.tarotCard *,
.tarotCard *:after,
.tarotCard *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}