/* [S02] 2_body.css  **********************************************************/
/* Part A  */

/* FullScreen Wallpaper */
/* Apply this Same Class to the wallpaper Div and the Image Inside It.
* <div class=wallpaper><img class=wallpaper/></div> 
*/
.wallpaper {
	position:absolute;width:100%;
	height:100%;top: 0px;left: 0px;z-index:-999;
	overflow: hidden;
}
/* place a div w/ this id after it. stops users from accidently clicking the image. */
#wallpaperClear {position:absolute;
	width:100%;height:100%;
	top: 0px;left: 0px;z-index:-998;
	background-image:url("https://huementui.s3.amazonaws.com/images/block.png");
	background-repeat:repeat;
}

/*
*
* The Box System is similiar to the Fluid Grid. It is a little easier to use,
* and is great when you need to divide up a larger area into fractions.
*
*/
.box {
	display: block;padding:5px;
	min-height: 100%;height:100%;
	min-width:800px;position:relative;margin:0 auto;
}

.boxFix { display: block;margin: 0px auto; }

/* for the rest, think FRACTIONS 2/3 1/3 etc */
.boxHalf, .box12, .boxThird, .box13, .boxTwoThird, .box23, .boxFourth, .box14, .box4, .boxMost, .boxM {
	float:left;
}
.boxHalf, .box12 {min-width:250px;width:49.4%;max-width:49.4%;}
.boxThird, .box13 {width:32%;min-width:165px;max-width:32%;}
.boxTwoThird, .box23 {width:65%;min-width:335px;}
.boxFourth, .box14, .box4 {width:23.5%;min-width:125px;}
.boxMost, .boxM {width:95%;min-width:500px;max-width:95%;display:block;padding: 5px 10px 5px 10px;}

/* SetUp Columns (Divide Boxes in Further or in Half) */
.column, .columnL, .columnR { 
	display: block; zoom: 1; 
	display: inline; 
	letter-spacing: normal; 
	word-spacing: normal; 
	vertical-align: top; 
}

.column {display: block;height:100%;width:96%;margin:0 auto;padding: 5px 10px 5px 10px;position:relative;}
.columnL {float:left;width:49%;padding: 0 5px 5px 0;}
.columnR {float:right;width:49%;padding: 0 0 5px 5px;}

@media (min-width: 799px) {
	.column, .boxMost {display: block;height:100%;width:98%;margin:0 auto;padding: 5px;position:relative;min-width:300px;max-width:98%;}
	.columnL, .columnR {float:none;width:98%;padding: 5px;margin:0 auto;position:relative;}
}
@media (max-width: 599px) {
	.boxHalf, .box12, .boxThird, .box13, .boxTwoThird, .box23, .boxFourth, .box14, .box4, .boxMost, .boxM {
		float:none;width:98%;padding: 5px;margin:0 auto;position:relative;max-width:98%;min-width:300px;
	}
}

/* Standard Floats */
/* Easy Float / Quick Alignment */
.L, .l {float:left;}
.R, .r {float:right;}
.C, .c {margin-left: auto;margin-right: auto;display:block;position:relative;}
.center { display:block;position:relative;margin: 0 auto;}

/* Easy Margins and Paddings */
/* Remember: Top Left Bottom Right */
.m0 {margin: 0px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;}
.m5 {margin:0 5px 0 5px;}
.m10 {margin:10px 10px 10px 10px}
.m15 {margin:0 7.5px 0 7.5px}
.p0 {padding: 0px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}
.p5 {padding: 5px}
.p10 {padding:10px 10px 10px 10px}
.p15 {padding:0 7.5px 0 7.5px}
.zero {margin: 0px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;padding: 0px;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}


hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.container:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .container             { zoom: 1; } /* IE6 */
*:first-child+html .container { zoom: 1; } /* IE7 */.clear {clear:both;}
.clear {clear:both;}
*:first-child+html #iconautente{ text-indent:0; line-height:0; font-size:0; overflow:hidden}/*ie7 hack */

/* Clears (needed for sticky footer and helpful when using floats) */
br {min-height:10px;height:10px;}
.alpha:after,.alphaSticky:after, .column:after, br,  br:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
hr.dark { clear:both;width:90%;color:#000; border-color:#666;margin:0 auto;margin-bottom:20px;}
hr {
	background:#ddd;
	clear:both;
	float:none;
	height:1px;
	width:90%;
	border: none;
	height: 0;
	color:#000; 
	border-color:#FFF;
	border-bottom: 1px solid #e6e6e6;
	margin:0 auto 1.45em auto;
	display:block;
	position:relative;
}
.push {
	display:block;
	position:relative;
	width:99.5%;
	height:25px;
	clear:both;
}

/* [S02 Part B] Grid System *********************************************************************************************/

.row {
width: 100%;
margin: 0 auto;
overflow: hidden;
}
.row::before, .row::after {
content: "";
display: table;
}

.row::after {
clear: both;
}

/* optional class to set limits for your rows. */
.limit { width:98%; max-width:1140px; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
margin-right: 3.8%;
float: left;
min-height: 1px;
}

.onecol {
width: 4.85%;
}

.twocol {
width: 13.45%;
}

.threecol {
width: 22.05%;
}

.fourcol {
width: 30.75%;
}

.fivecol {
width: 39.45%;
}

.sixcol {
width: 48%;
}

.sevencol {
width: 56.75%;
}

.eightcol {
width: 65.4%;
}

.ninecol {
width: 74.05%;
}

.tencol {
width: 82.7%;
}

.elevencol {
width: 91.35%;
}

.twelvecol {
width:100%;
float: left;
}
.row.limit .twelvecol {
width:98.5%;margin-left:1%;
}
.last {
margin-right: 0px;
}

/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
}


/* Mobile */

@media handheld, only screen and (max-width: 770px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
	width: auto;
	float: none;
	max-width:100%;
	margin-left: 0;
    margin-right: 0;
	padding-left: 0px !important;
	padding-right: 0px !important;
	}
	
	.limit { max-width:100%; }
	
}