html {
  overflow: hidden;
  height: 100%;
  color:#000000;
}

body {
  color:#000000;
  min-height: 100%; 
  height: 100%; 
  width:100%;
  display:block;
  background:#B6B6B6;
}

strong {
  font-weight: bold;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container_demo > .header {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 100%;
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em 1.875em;
}

.container_demo > .header {
  padding: 2.875em 1.875em 1.875em;
}

.container_demo > .header h1 {
  color:#f7f7f7;
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400;
}

.container_demo > .header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

.container_demo > .header nav {
  float: right;
}

.container_demo > .header nav a {
  display: block;
  float: left;
  position: relative;
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid #E2E2E2;
  text-indent: -8000px;
}

.container_demo > .header nav a:after {
  content: attr(data-info);
  color: #E2E2E2;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.container_demo > .header nav a:hover:after {
  opacity: 1;
}

.container_demo > .header nav a:hover {
  background: #E2E2E2;
}