/* DEMO STYLES */
body { 
  min-height: 100% !important; 
  height: 100% !important; 
  width:100%;
  display:block;
  background-image:url("http://huement.s3.amazonaws.com/imgs/noisy_grid.png");
  background-repeat:repeat;
  color:#EEE;font-weight:bold;
}

/** list view **/
ul.gridlist { list-style: none; width: 98%; margin:0px auto; display:block; position:relative; border:1px solid #C4C4C4; }
ul.gridlist li { display: block; background: #F7F7F7; padding: 10px 15px; }
ul.gridlist li.alt { background: #EBEBEB; }
ul.gridlist li section.left { display: block; float: left; width: 47%; position: relative; padding-left: 20px; }
ul.gridlist li section.right { display: block; float: right; margin-right: 10px; width: 47%; text-align: right; }
ul.gridlist li section.left img.thumb { float: left; padding: 3px; background:#FFFFFF; margin-right: 10px; }
ul.gridlist li section.left img.featured-banner { position: absolute; left: -18px; top: 35px; }
ul.gridlist li section.left h3 { 
  font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; text-transform: uppercase; color: #2E2E2E; 
  font-size: 1.4em; line-height: 1.6em;
  margin:2px 0px 0px 2px;
}
ul.gridlist li section.left span.meta { color: #5A5A5A; font-weight: normal; font-size: 1.1em; }
ul.gridlist li section.right span.price { 
  font-weight: bold; display: block; margin-bottom: 0px; color: #ad3939; font-size: 1.6em; text-align: right;
}
ul.gridlist li section.right a.firstbtn { margin-right: 7px; }
ul.gridlist li section.right .be1 {
	float:right!important;
}
ul.gridlist li section.right .be2 {
	float:right!important;
}
@media screen and (max-width: 800px) {
 	
}

/** grid view **/
ul.gridgrid { list-style: none; margin: 0 auto; padding-left: 25px; }
ul.gridgrid li { 
  position: relative; display: block; float: left; width: 220px; background:#F7F7F7; 
  border: 1px solid #b6bdbe; padding: 10px 22px; margin-bottom: 0px; 
  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
ul.gridgrid li.alt { background: #EBEBEB; }
ul.gridgrid li.third { border: 0; }
ul.gridgrid li section.left { position: relative; }
ul.gridgrid li section.right { /* nothing */ }
ul.gridgrid li section.left img.thumb { 
  background:#FFFFFF;
  display:block;
  margin:0 auto;
  position:relative;
  padding:3px;
}
ul.gridgrid li section.left img.featured-banner { position: absolute; top: 0; }
ul.gridgrid li section.left h3 { 
  font-family: "Trebuchet MS", Arial, sans-serif; font-weight: bold; 
  text-transform: uppercase; color: #707375; font-size: 1.4em; line-height: 1.5em; 
}
ul.gridgrid li section.left span.meta { display: block; color: #93989b; font-weight: normal; font-size: 1.1em; margin-bottom: 7px; }
ul.gridgrid li section.right span.price { 
	font-weight: bold; display: block; margin-bottom: 5px; color: #ad3939; font-size: 1.25em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: right;
	padding: 3px 10px 3px 10px;
	width: auto;
	min-height: 0;
	white-space: normal;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;

	color: #ad3939;
	background: #CECECE;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
ul.gridgrid li section.right span.darkview {
  margin: 0px;
  width: 100%;
  height: 110px;
  background: rgba(40, 45, 55, 0.75);
  overflow: hidden;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.gridgrid li section.right span.darkview button.be1,ul.gridgrid li section.right span.darkview button.be1 {
	float:left!important;
	margin-left:10px;
}
ul.gridgrid li section.right span.darkview button.be2,ul.gridgrid li section.right span.darkview button.be2 {
	float:right!important;
	margin-right:10px;
}

/* Animations */
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
